A <span class="def">generic rectangulation</span> is a subdivision of a rectangle into $n$ rectangles, such that no four rectangles meet in a point&nbsp;[Rea12].
<span class="def">Diagonal rectangulations</span> are a subset of generic rectangulations, and they have the property that every rectangle intersects the top-left to bottom-right diagonal&nbsp;[CSS18].
<span class="def">Block-aligned rectangulations</span> are a subset of diagonal rectangulations defined in&nbsp;[MM21] (based on the results from [ABBM+13]).

<table style="border-spacing:15px 10px">
<tr>
<td>
<svg width='121' height='121' viewBox='-0.5 -0.5 121 121'>
<style>.r{stroke:black;stroke-width:1}</style>
<rect class='r' x='0' y='0' width='60' height='60' style='fill:red'/>
<rect class='r' x='60' y='0' width='30' height='60' style='fill:yellow'/>
<rect class='r' x='0' y='60' width='30' height='30' style='fill:limegreen'/>
<rect class='r' x='0' y='90' width='30' height='30' style='fill:darkturquoise'/>
<rect class='r' x='30' y='60' width='60' height='60' style='fill:dodgerblue'/>
<rect class='r' x='90' y='0' width='30' height='30' style='fill:violet'/>
<rect class='r' x='90' y='30' width='30' height='90' style='fill:purple'/>
</svg>
</td>
<td>
<svg width='121' height='121' viewBox='-0.5 -0.5 121 121'>
<style>.r{stroke:black;stroke-width:1}</style>
<rect class='r' x='0' y='0' width='17.14' height='34.28' style='fill:red'/>
<rect class='r' x='17.14' y='0' width='68.57' height='34.28' style='fill:yellow'/>
<rect class='r' x='0' y='34.28' width='68.57' height='34.28' style='fill:limegreen'/>
<rect class='r' x='0' y='51.43' width='68.57' height='68.57' style='fill:darkturquoise'/>
<rect class='r' x='68.57' y='34.28' width='17.14' height='85.71' style='fill:dodgerblue'/>
<rect class='r' x='85.71' y='0' width='34.28' height='102.86' style='fill:violet'/>
<rect class='r' x='85.71' y='102.86' width='34.28' height='17.14' style='fill:purple'/>
<line class='r' x1='0' y1='0' x2='120' y2='120'/>
</svg>
</td>
<td>
<svg width='121' height='121' viewBox='-0.5 -0.5 121 121'>
<style>.r{stroke:black;stroke-width:1}</style>
<rect class='r' x='0' y='0' width='85.71' height='17.14' style='fill:red'/>
<rect class='r' x='0' y='17.14' width='85.71' height='17.14' style='fill:yellow'/>
<rect class='r' x='0' y='34.28' width='51.43' height='85.71' style='fill:limegreen'/>
<rect class='r' x='51.43' y='34.28' width='17.14' height='85.71' style='fill:darkturquoise'/>
<rect class='r' x='68.57' y='34.28' width='17.14' height='85.71' style='fill:dodgerblue'/>
<rect class='r' x='85.71' y='0' width='17.14' height='120' style='fill:violet'/>
<rect class='r' x='102.86' y='0' width='17.14' height='120' style='fill:purple'/>
<line class='r' x1='0' y1='0' x2='120' y2='120'/>
</svg>
</td>
</tr>
<tr>
<td>Generic rectangulation</td><td>Diagonal rectangulation</td><td>Block-aligned rectangulation</td>
</tr>
</table>

By forbidding certain patterns of segments in any of these three base classes of rectangulations, we obtain further interesting classes of rectangulations.
The eight patterns described in&nbsp;[MM21] and implemented on this website are the following:

<table style="border-spacing:15px 10px">
<style>.b{stroke:black;stroke-width:1;fill:none}.w{stroke:black;stroke-width:3}</style>
<tr>
<td><svg width='60' height='60'>
<rect class='b' x='0' y='0' width='60' height='60' style='fill:white'/>
<line class='w' x1='0' y1='15' x2='45' y2='15'/>
<line class='w' x1='45' y1='0' x2='45' y2='45'/>
<line class='w' x1='60' y1='45' x2='15' y2='45'/>
<line class='w' x1='15' y1='60' x2='15' y2='15'/>
</svg> 1. clockwise windmill</td>
<td><svg width='60' height='60'>
<rect class='b' x='0' y='0' width='60' height='60' style='fill:white'/>
<line class='w' x1='60' y1='15' x2='15' y2='15'/>
<line class='w' x1='15' y1='0' x2='15' y2='45'/>
<line class='w' x1='0' y1='45' x2='45' y2='45'/>
<line class='w' x1='45' y1='60' x2='45' y2='15'/>
</svg> 2. counterclockwise windmill</td>
</tr>
<tr>
<td><svg width='60' height='60'>
<rect class='b' x='0' y='0' width='60' height='60' style='fill:white'/>
<line class='w' x1='30' y1='0' x2='30' y2='60'/>
<line class='w' x1='0' y1='40' x2='30' y2='40'/>
<line class='w' x1='30' y1='20' x2='60' y2='20'/>
</svg> 3. left/right brick</td>
<td><svg width='60' height='60'>
<rect class='b' x='0' y='0' width='60' height='60' style='fill:white'/>
<line class='w' x1='0' y1='30' x2='60' y2='30'/>
<line class='w' x1='20' y1='30' x2='20' y2='60'/>
<line class='w' x1='40' y1='0' x2='40' y2='30'/>
</svg> 4. bottom/top brick</td>
</tr>
<tr>
<td><svg width='60' height='60'>
<rect class='b' x='0' y='0' width='60' height='60' style='fill:white'/>
<line class='w' x1='30' y1='0' x2='30' y2='60'/>
<line class='w' x1='0' y1='20' x2='30' y2='20'/>
<line class='w' x1='30' y1='40' x2='60' y2='40'/>
</svg> 5. right/left brick</td>
<td><svg width='60' height='60'>
<rect class='b' x='0' y='0' width='60' height='60' style='fill:white'/>
<line class='w' x1='0' y1='30' x2='60' y2='30'/>
<line class='w' x1='40' y1='30' x2='40' y2='60'/>
<line class='w' x1='20' y1='0' x2='20' y2='30'/>
</svg> 6. top/bottom brick</td>
</tr>
<tr>
<td><svg width='60' height='60'>
<rect class='b' x='0' y='0' width='60' height='60' style='fill:white'/>
<line class='w' x1='20' y1='0' x2='20' y2='60'/>
<line class='w' x1='40' y1='0' x2='40' y2='60'/>
<line class='w' x1='0' y1='30' x2='20' y2='30'/>
<line class='w' x1='40' y1='30' x2='60' y2='30'/>
</svg> 7. vertical H</td>
<td><svg width='60' height='60'>
<rect class='b' x='0' y='0' width='60' height='60' style='fill:white'/>
<line class='w' x1='0' y1='20' x2='60' y2='20'/>
<line class='w' x1='0' y1='40' x2='60' y2='40'/>
<line class='w' x1='30' y1='0' x2='30' y2='20'/>
<line class='w' x1='30' y1='40' x2='30' y2='60'/>
</svg> 8. horizontal H</td>
</tr>
</table>

In fact, diagonal rectangulations are obtained by forbidding the left/right brick pattern and the bottom/top brick pattern in generic rectangulations&nbsp;[CSS18].
Furthermore, forbidding the two windmill patterns in generic rectangulations, we obtain so-called <span class="def">guillotine</span> rectangulations, which can be cut into their constituent rectangles by repeated horizontal or vertical straight cuts.
Forbidding the two windmill patterns in diagonal rectangulations, we obtain <span class="def">slicing floorplans</span>&nbsp;[YCCG03].
By forbidding all four brick patterns in generic rectangulations, we obtain <span class="def">1-sided</span> rectangulations, which have been shown to be exactly all <span class="def">area-universal</span> rectangulations, i.e., for any assignment of positive area values to the rectangles, there is a realization of the rectangulation in the plane such that each rectangle has the prescribed area&nbsp;[EMSV12].
Other interesting combinations of patterns have been studied in&nbsp;[AM10, ABBM+13].
<p>

In the paper&nbsp;[MM21] we propose a framework for exhaustively generating various classes of rectangulations, including pattern-avoiding rectangulations, and the code running on this website implements the algorithms from this paper.
In the text-based output above, each rectangle is specified by its bottom-left and top-right coordinate, and all coordinates are scaled to integers.
The algorithmic generation framework is based on encoding rectangulations by permutations, exploiting that many of the aforementioned classes of rectangulations are bijectively equivalent to classes of pattern-avoiding permutations.
For example, generic rectangulations are in bijection to 2-clumped permutations&nbsp;[Rea12], and diagonal rectangulations are in bijection to Baxter and twisted Baxter permutations&nbsp;[CSS18].
Most of the OEIS sequences linked below arise as counting sequences for certain pattern-avoiding permutations.