Pattern-avoiding permutations describe and count an abundance of different combinatorial objects, so there is a huge number of OEIS sequences related to them.
Some sequences arising from tame patterns that can be generated with this program are listed below.

<ul class="enum">
<li>none: <a href="http://oeis.org/A000142">OEIS A000142</a> (factorial numbers)</li>
<li>231: <a href="http://oeis.org/A000108">OEIS A000108</a> (Catalan numbers)</li>
<li>13_2: <a href="http://oeis.org/A000110">OEIS A000110</a> (Bell numbers)</li>
<li>132 & 231: <a href="http://oeis.org/A000079">OEIS A000079</a> (powers of 2)</li>
<li>2143: <a href="http://oeis.org/A005802">OEIS A005802</a></li>
<li>2143 & 3412: <a href="http://oeis.org/A029759">OEIS A029759</a></li>
<li>2413 & 3142: <a href="http://oeis.org/A006318">OEIS A006318</a> (Schr&ouml;der numbers)</li>
<li>24_13 & 31_42; 24_13 & 34_12; 21_43 & 31_42: <a href="http://oeis.org/A001181">OEIS A001181</a> (Baxter numbers)</li>
<li>21_43 & 34_12: <a href="http://oeis.org/A214358">OEIS A214358</a></li>
<li>2413 & 3142 & 2143 & 3412: <a href="http://oeis.org/A006012">OEIS A006012</a></li>
<li>2413 & 3142 & 21_43 & 34_12: <a href="http://oeis.org/A078482">OEIS A078482</a></li>
<li>35_124 & 35_142 & 245_13 & 425_13: <a href="http://oeis.org/A342141">OEIS A342141</a></li>
<li>3b142 & 241b3: <a href="http://oeis.org/A098569">OEIS A098569</a></li>
<li>231:0100 0100 1111 0100: <a href="http://oeis.org/A022493">OEIS A022493</a> (Fishburn numbers)</li>
<ul>