<ul id="refs">
<li>[AKV13] S. Avgustinovich, S. Kitaev, and A. Valyuzhenich. Avoidance of boxed mesh patterns on permutations. Discrete Appl. Math., 161(1-2):43–51, 2013.</li>
<li>[BC11] P. Br&auml;nd&eacute;n and A. Claesson. Mesh patterns and the expansion of permutation statistics as sums of permutation patterns. Electron. J. Combin., 18(2):Paper 5, 14, 2011.</li>
<li>[BS00] E. Babson and E. Steingr&iacute;msson. Generalized permutation patterns and a classification of the Mahonian statistics. S&eacute;m. Lothar. Combin., 44:Art. B44b, 18, 2000.</li>  
<li>[HHMW20] E. Hartung, H. P. Hoang, T. M&uuml;tze, and A. Williams. Combinatorial generation via permutation languages. I. Fundamentals. arXiv:1906.06069, April 2020.</li>
<li>[Wes90] J. West. Permutations with forbidden subsequences and stack-sortable permutations. ProQuest LLC, Ann Arbor, MI, 1990. Thesis (Ph.D.)–Massachusetts Institute of Technology.</li>
</ul>