<table id="input">
<tr>
<td>Size $n$ of ground set</td>
<td><input type="text" id="n" value="4" size="3" maxlength="3"/> (max. 20)</td>
</tr>
<tr>
<td>Algorithm</td>
<td>
<select id="a" autocomplete="off">
  <option value="0" selected>lexicographic order</option>
  <option value="1">colexicographic order</option>
  <option value="2">reversing prefixes (Zaks)</option>
  <option value="3">transpositions (Wells)</option>
  <option value="4">transpositions (Heap)</option>
  <option value="5">transpositions (Lipski 10)</option>
  <option value="6">transpositions (Lipski 16)</option>
  <option value="7">adjacent transpositions (Steinhaus-Johnson-Trotter)</option>
  <option value="8">star transpositions (Ehrlich)</option>
  <option value="9">derangement order</option>
  <option value="10">single track</option>
  <option value="11">single track Gray code</option>
  <option value="12">prefix swaps and rotations (Sawada-Williams)</option>
  <option value="13">prefix rotations (Corbett)</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var sela = document.getElementById("a");
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&n=" + document.getElementById("n").value
            + "&a=" + sela.options[sela.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
