The OEIS sequences listed below count the five combinatorial classes mentioned in the examples before.

<ul class="enum">
<li>binary trees: <a href="http://oeis.org/A000108">OEIS A000108</a> (Catalan numbers)</li>
<li>permutations: <a href="http://oeis.org/A000142">OEIS A000142</a> (factorials)</li>
<li>partial permutations: <a href="http://oeis.org/A000522">OEIS A000522</a></li>
<li>bitstrings: <a href="http://oeis.org/A000079">OEIS A000079</a> (powers of 2)</li>
<li>signed permutations: <a href="http://oeis.org/A000165">OEIS A000165</a> (double factorials)</li>
</ul>
