The <span class="def">$n$-dimensional hypercube</span> is the graph that has as vertices all bitstrings of length $n$, with an edge between any two bitstrings that differ in exactly one bit.
The <span class="def">Hamming weight</span> of a bitstring is the number of 1s in it, and the <span class="def">$k$-th level</span> of the hypercube is the the set of all bitstrings with Hamming weight $k$.
A <span class="def">symmetric chain</span> is a path $x_k,x_{k+1},\ldots,x_{n-k}$, where $x_i$ is from level $i$ for all $i=k,k+1,\ldots,n-k$.
A <span class="def">symmetric chain decomposition</span> is a partition of the vertices of the hypercube into symmetric chains.
For instance, for $n=3$ a symmetric chain decomposition is given by $\{\{000,100,110,111\},\{001,101\},\{010,011\}\}$.

<p>
The fact that the $n$-dimensional hypercube has a symmetric chain decomposition for every $n$ was first proved by de Bruijn, van Ebbenhorst Tengbergen, and Kruyswijk [dBvETK51].
Knuth describes this construction under the name of 'Christmas tree pattern' in Section 7.2.1.6 of his book [Knu11].
Interestingly, there are many different ways to describe the same construction, see [Lew72], [Aig73], and [WW77].
Probably the easiest-to-remember explicit rule to describe the chains of this decomposition was given by Greene and Kleitman [GK76] and is based on 'parenthesis matching'.
Their construction can be described as follows:
For any bitstring $x$, imagine the 0s to be opening brackets, and the 1s to be closing brackets, and match opening and closing brackets in the natural way.
Then, to move up the chain containing $x$, flip the leftmost unmatched 0 (opening bracket) to a 1 (closing bracket).
Similarly, to move down the chain containing $x$, flip the rightmost unmatched 1 (closing bracket) to a 0 (opening bracket).
For instance, for the bitstring $x=11\color{red}{0011}10\color{red}{01}00$, where the matched bits are highlighted, the chain containing $x$ is given by ${*}{*}\color{red}{0011}{*}{*}\color{red}{01}{*}{*}=\{00\color{red}{0011}00\color{red}{01}00,10\color{red}{0011}00\color{red}{01}00,11\color{red}{0011}00\color{red}{01}00,11\color{red}{0011}10\color{red}{01}00,11\color{red}{0011}11\color{red}{01}00,11\color{red}{0011}11\color{red}{01}10,11\color{red}{0011}11\color{red}{01}11\}$, where the $*$s encode the bits that get flipped along the chain.
It is easy to see that this rule indeed yields a symmetric chain decomposition.
For instance, for $n=2$ we get the chains $\{{*}{*},01\}$, for $n=3$ we get the chains $\{{*}{*}{*},{*}01,01{*}\}$, for $n=4$ we get the chains $\{{*}{*}{*}{*},01{*}{*},0101,{*}{*}01,0011,{*}01{*}\}$.
In the graphical output above, 0=white, 1=black, and *=red.
  
<p>
Gregor, Mi&ccaron;ka, and M&uuml;tze [GMM20] showed that the chains of the Greene-Kleitman symmetric chain decomposition can be ordered cyclically so that any two consecutive chains differ only in a single bit at their top or bottom ends, alternatingly.
In fact, the chains in the examples for $n=2,3,4$ listed above are given exactly in such a Gray code ordering; see also the picture below on the left for $n=6$.
This ordering has the additional property that when viewing the chains as strings over the alphabet $\{0,1,{*}\}$, then any two consecutive chains differ in at most 3 positions; see the picture below on the right for $n=6$.
The resulting Gray code in the hypercube has the minimum number of changes of direction from increasing Hamming weight to decreasing Hamming weight, and vice versa.
A similar construction of a Hamilton cycle in the cube that can be decomposed into a symmetric chain decomposition was found by Streib and Trotter [ST14].
However, their symmetric chain decomposition is different from the 'canonic' Greene-Kleitman decomposition described above.

<p>
<svg width='330' height='330' viewBox='-165 -165 330 330'><style>.p{stroke-width:0.6}.m{stroke-width:1;stroke:black}.c{fill:none;stroke:black}</style><path class='p' d='m 0 -40 l 0 -20 a 60 60 0 0 1 5.88 0.29 l -1.96 19.9 a 40 40 0 0 0 -3.92 -0.19 z' style='stroke:white;fill:white'/><path class='p' d='m 0 -60 l 0 -20 a 80 80 0 0 1 7.84 0.39 l -1.96 19.9 a 60 60 0 0 0 -5.88 -0.29 z' style='stroke:white;fill:white'/><path class='p' d='m 0 -80 l 0 -20 a 100 100 0 0 1 9.8 0.48 l -1.96 19.9 a 80 80 0 0 0 -7.84 -0.39 z' style='stroke:white;fill:white'/><path class='p' d='m 0 -100 l 0 -20 a 120 120 0 0 1 11.76 0.58 l -1.96 19.9 a 100 100 0 0 0 -9.8 -0.48 z' style='stroke:white;fill:white'/><path class='p' d='m 0 -120 l 0 -20 a 140 140 0 0 1 13.72 0.67 l -1.96 19.9 a 120 120 0 0 0 -11.76 -0.58 z' style='stroke:white;fill:white'/><path class='p' d='m 0 -140 l 0 -20 a 160 160 0 0 1 15.68 0.77 l -1.96 19.9 a 140 140 0 0 0 -13.72 -0.67 z' style='stroke:white;fill:white'/><path class='p' d='m 3.92 -39.81 l 1.96 -19.9 a 60 60 0 0 1 5.82 0.86 l -3.9 19.62 a 40 40 0 0 0 -3.88 -0.58 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 5.88 -59.71 l 1.96 -19.9 a 80 80 0 0 1 7.77 1.15 l -3.9 19.62 a 60 60 0 0 0 -5.82 -0.86 z' style='stroke:white;fill:white'/><path class='p' d='m 7.84 -79.61 l 1.96 -19.9 a 100 100 0 0 1 9.71 1.44 l -3.9 19.62 a 80 80 0 0 0 -7.77 -1.15 z' style='stroke:white;fill:white'/><path class='p' d='m 9.8 -99.52 l 1.96 -19.9 a 120 120 0 0 1 11.65 1.73 l -3.9 19.62 a 100 100 0 0 0 -9.71 -1.44 z' style='stroke:white;fill:white'/><path class='p' d='m 11.76 -119.42 l 1.96 -19.9 a 140 140 0 0 1 13.59 2.02 l -3.9 19.62 a 120 120 0 0 0 -11.65 -1.73 z' style='stroke:white;fill:white'/><path class='p' d='m 13.72 -139.33 l 1.96 -19.9 a 160 160 0 0 1 15.53 2.3 l -3.9 19.62 a 140 140 0 0 0 -13.59 -2.02 z' style='stroke:white;fill:white'/><path class='p' d='m 7.8 -39.23 l 3.9 -19.62 a 60 60 0 0 1 5.71 1.43 l -5.81 19.14 a 40 40 0 0 0 -3.81 -0.95 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 11.71 -58.85 l 3.9 -19.62 a 80 80 0 0 1 7.62 1.91 l -5.81 19.14 a 60 60 0 0 0 -5.71 -1.43 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 15.61 -78.46 l 3.9 -19.62 a 100 100 0 0 1 9.52 2.38 l -5.81 19.14 a 80 80 0 0 0 -7.62 -1.91 z' style='stroke:white;fill:white'/><path class='p' d='m 19.51 -98.08 l 3.9 -19.62 a 120 120 0 0 1 11.42 2.86 l -5.81 19.14 a 100 100 0 0 0 -9.52 -2.38 z' style='stroke:white;fill:white'/><path class='p' d='m 23.41 -117.69 l 3.9 -19.62 a 140 140 0 0 1 13.33 3.34 l -5.81 19.14 a 120 120 0 0 0 -11.42 -2.86 z' style='stroke:white;fill:white'/><path class='p' d='m 27.31 -137.31 l 3.9 -19.62 a 160 160 0 0 1 15.23 3.82 l -5.81 19.14 a 140 140 0 0 0 -13.33 -3.34 z' style='stroke:white;fill:white'/><path class='p' d='m 11.61 -38.28 l 5.81 -19.14 a 60 60 0 0 1 5.54 1.98 l -7.65 18.48 a 40 40 0 0 0 -3.7 -1.32 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 17.42 -57.42 l 5.81 -19.14 a 80 80 0 0 1 7.39 2.64 l -7.65 18.48 a 60 60 0 0 0 -5.54 -1.98 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 23.22 -76.56 l 5.81 -19.14 a 100 100 0 0 1 9.24 3.31 l -7.65 18.48 a 80 80 0 0 0 -7.39 -2.64 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 29.03 -95.69 l 5.81 -19.14 a 120 120 0 0 1 11.09 3.97 l -7.65 18.48 a 100 100 0 0 0 -9.24 -3.31 z' style='stroke:white;fill:white'/><path class='p' d='m 34.83 -114.83 l 5.81 -19.14 a 140 140 0 0 1 12.94 4.63 l -7.65 18.48 a 120 120 0 0 0 -11.09 -3.97 z' style='stroke:white;fill:white'/><path class='p' d='m 40.64 -133.97 l 5.81 -19.14 a 160 160 0 0 1 14.78 5.29 l -7.65 18.48 a 140 140 0 0 0 -12.94 -4.63 z' style='stroke:white;fill:white'/><path class='p' d='m 15.31 -36.96 l 7.65 -18.48 a 60 60 0 0 1 5.32 2.52 l -9.43 17.64 a 40 40 0 0 0 -3.55 -1.68 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 22.96 -55.43 l 7.65 -18.48 a 80 80 0 0 1 7.1 3.36 l -9.43 17.64 a 60 60 0 0 0 -5.32 -2.52 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 30.61 -73.91 l 7.65 -18.48 a 100 100 0 0 1 8.87 4.2 l -9.43 17.64 a 80 80 0 0 0 -7.1 -3.36 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 38.27 -92.39 l 7.65 -18.48 a 120 120 0 0 1 10.65 5.03 l -9.43 17.64 a 100 100 0 0 0 -8.87 -4.2 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 45.92 -110.87 l 7.65 -18.48 a 140 140 0 0 1 12.42 5.87 l -9.43 17.64 a 120 120 0 0 0 -10.65 -5.03 z' style='stroke:white;fill:white'/><path class='p' d='m 53.58 -129.34 l 7.65 -18.48 a 160 160 0 0 1 14.19 6.71 l -9.43 17.64 a 140 140 0 0 0 -12.42 -5.87 z' style='stroke:white;fill:white'/><path class='p' d='m 18.86 -35.28 l 9.43 -17.64 a 60 60 0 0 1 5.05 3.03 l -11.11 16.63 a 40 40 0 0 0 -3.37 -2.02 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 28.28 -52.92 l 9.43 -17.64 a 80 80 0 0 1 6.73 4.04 l -11.11 16.63 a 60 60 0 0 0 -5.05 -3.03 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 37.71 -70.55 l 9.43 -17.64 a 100 100 0 0 1 8.42 5.05 l -11.11 16.63 a 80 80 0 0 0 -6.73 -4.04 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 47.14 -88.19 l 9.43 -17.64 a 120 120 0 0 1 10.1 6.05 l -11.11 16.63 a 100 100 0 0 0 -8.42 -5.05 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 56.57 -105.83 l 9.43 -17.64 a 140 140 0 0 1 11.78 7.06 l -11.11 16.63 a 120 120 0 0 0 -10.1 -6.05 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 66 -123.47 l 9.43 -17.64 a 160 160 0 0 1 13.47 8.07 l -11.11 16.63 a 140 140 0 0 0 -11.78 -7.06 z' style='stroke:white;fill:white'/><path class='p' d='m 22.22 -33.26 l 11.11 -16.63 a 60 60 0 0 1 4.73 3.51 l -12.69 15.46 a 40 40 0 0 0 -3.15 -2.34 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 33.33 -49.89 l 11.11 -16.63 a 80 80 0 0 1 6.31 4.68 l -12.69 15.46 a 60 60 0 0 0 -4.73 -3.51 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 44.45 -66.52 l 11.11 -16.63 a 100 100 0 0 1 7.88 5.85 l -12.69 15.46 a 80 80 0 0 0 -6.31 -4.68 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 55.56 -83.15 l 11.11 -16.63 a 120 120 0 0 1 9.46 7.02 l -12.69 15.46 a 100 100 0 0 0 -7.88 -5.85 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 66.67 -99.78 l 11.11 -16.63 a 140 140 0 0 1 11.04 8.18 l -12.69 15.46 a 120 120 0 0 0 -9.46 -7.02 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 77.78 -116.41 l 11.11 -16.63 a 160 160 0 0 1 12.61 9.35 l -12.69 15.46 a 140 140 0 0 0 -11.04 -8.18 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 25.38 -30.92 l 12.69 -15.46 a 60 60 0 0 1 4.36 3.95 l -14.14 14.14 a 40 40 0 0 0 -2.91 -2.64 z' style='stroke:white;fill:white'/><path class='p' d='m 38.06 -46.38 l 12.69 -15.46 a 80 80 0 0 1 5.82 5.27 l -14.14 14.14 a 60 60 0 0 0 -4.36 -3.95 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 50.75 -61.84 l 12.69 -15.46 a 100 100 0 0 1 7.27 6.59 l -14.14 14.14 a 80 80 0 0 0 -5.82 -5.27 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 63.44 -77.3 l 12.69 -15.46 a 120 120 0 0 1 8.73 7.91 l -14.14 14.14 a 100 100 0 0 0 -7.27 -6.59 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 76.13 -92.76 l 12.69 -15.46 a 140 140 0 0 1 10.18 9.23 l -14.14 14.14 a 120 120 0 0 0 -8.73 -7.91 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 88.82 -108.22 l 12.69 -15.46 a 160 160 0 0 1 11.63 10.54 l -14.14 14.14 a 140 140 0 0 0 -10.18 -9.23 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 28.28 -28.28 l 14.14 -14.14 a 60 60 0 0 1 3.95 4.36 l -15.46 12.69 a 40 40 0 0 0 -2.64 -2.91 z' style='stroke:white;fill:white'/><path class='p' d='m 42.43 -42.43 l 14.14 -14.14 a 80 80 0 0 1 5.27 5.82 l -15.46 12.69 a 60 60 0 0 0 -3.95 -4.36 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 56.57 -56.57 l 14.14 -14.14 a 100 100 0 0 1 6.59 7.27 l -15.46 12.69 a 80 80 0 0 0 -5.27 -5.82 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 70.71 -70.71 l 14.14 -14.14 a 120 120 0 0 1 7.91 8.73 l -15.46 12.69 a 100 100 0 0 0 -6.59 -7.27 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 84.85 -84.85 l 14.14 -14.14 a 140 140 0 0 1 9.23 10.18 l -15.46 12.69 a 120 120 0 0 0 -7.91 -8.73 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 98.99 -98.99 l 14.14 -14.14 a 160 160 0 0 1 10.54 11.63 l -15.46 12.69 a 140 140 0 0 0 -9.23 -10.18 z' style='stroke:white;fill:white'/><path class='p' d='m 30.92 -25.38 l 15.46 -12.69 a 60 60 0 0 1 3.51 4.73 l -16.63 11.11 a 40 40 0 0 0 -2.34 -3.15 z' style='stroke:white;fill:white'/><path class='p' d='m 46.38 -38.06 l 15.46 -12.69 a 80 80 0 0 1 4.68 6.31 l -16.63 11.11 a 60 60 0 0 0 -3.51 -4.73 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 61.84 -50.75 l 15.46 -12.69 a 100 100 0 0 1 5.85 7.88 l -16.63 11.11 a 80 80 0 0 0 -4.68 -6.31 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 77.3 -63.44 l 15.46 -12.69 a 120 120 0 0 1 7.02 9.46 l -16.63 11.11 a 100 100 0 0 0 -5.85 -7.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 92.76 -76.13 l 15.46 -12.69 a 140 140 0 0 1 8.18 11.04 l -16.63 11.11 a 120 120 0 0 0 -7.02 -9.46 z' style='stroke:white;fill:white'/><path class='p' d='m 108.22 -88.82 l 15.46 -12.69 a 160 160 0 0 1 9.35 12.61 l -16.63 11.11 a 140 140 0 0 0 -8.18 -11.04 z' style='stroke:white;fill:white'/><path class='p' d='m 33.26 -22.22 l 16.63 -11.11 a 60 60 0 0 1 3.03 5.05 l -17.64 9.43 a 40 40 0 0 0 -2.02 -3.37 z' style='stroke:white;fill:white'/><path class='p' d='m 49.89 -33.33 l 16.63 -11.11 a 80 80 0 0 1 4.04 6.73 l -17.64 9.43 a 60 60 0 0 0 -3.03 -5.05 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 66.52 -44.45 l 16.63 -11.11 a 100 100 0 0 1 5.05 8.42 l -17.64 9.43 a 80 80 0 0 0 -4.04 -6.73 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 83.15 -55.56 l 16.63 -11.11 a 120 120 0 0 1 6.05 10.1 l -17.64 9.43 a 100 100 0 0 0 -5.05 -8.42 z' style='stroke:white;fill:white'/><path class='p' d='m 99.78 -66.67 l 16.63 -11.11 a 140 140 0 0 1 7.06 11.78 l -17.64 9.43 a 120 120 0 0 0 -6.05 -10.1 z' style='stroke:white;fill:white'/><path class='p' d='m 116.41 -77.78 l 16.63 -11.11 a 160 160 0 0 1 8.07 13.47 l -17.64 9.43 a 140 140 0 0 0 -7.06 -11.78 z' style='stroke:white;fill:white'/><path class='p' d='m 35.28 -18.86 l 17.64 -9.43 a 60 60 0 0 1 2.52 5.32 l -18.48 7.65 a 40 40 0 0 0 -1.68 -3.55 z' style='stroke:white;fill:white'/><path class='p' d='m 52.92 -28.28 l 17.64 -9.43 a 80 80 0 0 1 3.36 7.1 l -18.48 7.65 a 60 60 0 0 0 -2.52 -5.32 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 70.55 -37.71 l 17.64 -9.43 a 100 100 0 0 1 4.2 8.87 l -18.48 7.65 a 80 80 0 0 0 -3.36 -7.1 z' style='stroke:white;fill:white'/><path class='p' d='m 88.19 -47.14 l 17.64 -9.43 a 120 120 0 0 1 5.03 10.65 l -18.48 7.65 a 100 100 0 0 0 -4.2 -8.87 z' style='stroke:white;fill:white'/><path class='p' d='m 105.83 -56.57 l 17.64 -9.43 a 140 140 0 0 1 5.87 12.42 l -18.48 7.65 a 120 120 0 0 0 -5.03 -10.65 z' style='stroke:white;fill:white'/><path class='p' d='m 123.47 -66 l 17.64 -9.43 a 160 160 0 0 1 6.71 14.19 l -18.48 7.65 a 140 140 0 0 0 -5.87 -12.42 z' style='stroke:white;fill:white'/><path class='p' d='m 36.96 -15.31 l 18.48 -7.65 a 60 60 0 0 1 1.98 5.54 l -19.14 5.81 a 40 40 0 0 0 -1.32 -3.7 z' style='stroke:white;fill:white'/><path class='p' d='m 55.43 -22.96 l 18.48 -7.65 a 80 80 0 0 1 2.64 7.39 l -19.14 5.81 a 60 60 0 0 0 -1.98 -5.54 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 73.91 -30.61 l 18.48 -7.65 a 100 100 0 0 1 3.31 9.24 l -19.14 5.81 a 80 80 0 0 0 -2.64 -7.39 z' style='stroke:white;fill:white'/><path class='p' d='m 92.39 -38.27 l 18.48 -7.65 a 120 120 0 0 1 3.97 11.09 l -19.14 5.81 a 100 100 0 0 0 -3.31 -9.24 z' style='stroke:white;fill:white'/><path class='p' d='m 110.87 -45.92 l 18.48 -7.65 a 140 140 0 0 1 4.63 12.94 l -19.14 5.81 a 120 120 0 0 0 -3.97 -11.09 z' style='stroke:white;fill:white'/><path class='p' d='m 129.34 -53.58 l 18.48 -7.65 a 160 160 0 0 1 5.29 14.78 l -19.14 5.81 a 140 140 0 0 0 -4.63 -12.94 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 38.28 -11.61 l 19.14 -5.81 a 60 60 0 0 1 1.43 5.71 l -19.62 3.9 a 40 40 0 0 0 -0.95 -3.81 z' style='stroke:white;fill:white'/><path class='p' d='m 57.42 -17.42 l 19.14 -5.81 a 80 80 0 0 1 1.91 7.62 l -19.62 3.9 a 60 60 0 0 0 -1.43 -5.71 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 76.56 -23.22 l 19.14 -5.81 a 100 100 0 0 1 2.38 9.52 l -19.62 3.9 a 80 80 0 0 0 -1.91 -7.62 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 95.69 -29.03 l 19.14 -5.81 a 120 120 0 0 1 2.86 11.42 l -19.62 3.9 a 100 100 0 0 0 -2.38 -9.52 z' style='stroke:white;fill:white'/><path class='p' d='m 114.83 -34.83 l 19.14 -5.81 a 140 140 0 0 1 3.34 13.33 l -19.62 3.9 a 120 120 0 0 0 -2.86 -11.42 z' style='stroke:white;fill:white'/><path class='p' d='m 133.97 -40.64 l 19.14 -5.81 a 160 160 0 0 1 3.82 15.23 l -19.62 3.9 a 140 140 0 0 0 -3.34 -13.33 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 39.23 -7.8 l 19.62 -3.9 a 60 60 0 0 1 0.86 5.82 l -19.9 1.96 a 40 40 0 0 0 -0.58 -3.88 z' style='stroke:white;fill:white'/><path class='p' d='m 58.85 -11.71 l 19.62 -3.9 a 80 80 0 0 1 1.15 7.77 l -19.9 1.96 a 60 60 0 0 0 -0.86 -5.82 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 78.46 -15.61 l 19.62 -3.9 a 100 100 0 0 1 1.44 9.71 l -19.9 1.96 a 80 80 0 0 0 -1.15 -7.77 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 98.08 -19.51 l 19.62 -3.9 a 120 120 0 0 1 1.73 11.65 l -19.9 1.96 a 100 100 0 0 0 -1.44 -9.71 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 117.69 -23.41 l 19.62 -3.9 a 140 140 0 0 1 2.02 13.59 l -19.9 1.96 a 120 120 0 0 0 -1.73 -11.65 z' style='stroke:white;fill:white'/><path class='p' d='m 137.31 -27.31 l 19.62 -3.9 a 160 160 0 0 1 2.3 15.53 l -19.9 1.96 a 140 140 0 0 0 -2.02 -13.59 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 39.81 -3.92 l 19.9 -1.96 a 60 60 0 0 1 0.29 5.88 l -20 0 a 40 40 0 0 0 -0.19 -3.92 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 59.71 -5.88 l 19.9 -1.96 a 80 80 0 0 1 0.39 7.84 l -20 0 a 60 60 0 0 0 -0.29 -5.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 79.61 -7.84 l 19.9 -1.96 a 100 100 0 0 1 0.48 9.8 l -20 0 a 80 80 0 0 0 -0.39 -7.84 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 99.52 -9.8 l 19.9 -1.96 a 120 120 0 0 1 0.58 11.76 l -20 0 a 100 100 0 0 0 -0.48 -9.8 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 119.42 -11.76 l 19.9 -1.96 a 140 140 0 0 1 0.67 13.72 l -20 0 a 120 120 0 0 0 -0.58 -11.76 z' style='stroke:white;fill:white'/><path class='p' d='m 139.33 -13.72 l 19.9 -1.96 a 160 160 0 0 1 0.77 15.68 l -20 0 a 140 140 0 0 0 -0.67 -13.72 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 40 -0 l 20 -0 a 60 60 0 0 1 -0.29 5.88 l -19.9 -1.96 a 40 40 0 0 0 0.19 -3.92 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 60 -0 l 20 -0 a 80 80 0 0 1 -0.39 7.84 l -19.9 -1.96 a 60 60 0 0 0 0.29 -5.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 80 -0 l 20 -0 a 100 100 0 0 1 -0.48 9.8 l -19.9 -1.96 a 80 80 0 0 0 0.39 -7.84 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 100 -0 l 20 -0 a 120 120 0 0 1 -0.58 11.76 l -19.9 -1.96 a 100 100 0 0 0 0.48 -9.8 z' style='stroke:white;fill:white'/><path class='p' d='m 120 -0 l 20 -0 a 140 140 0 0 1 -0.67 13.72 l -19.9 -1.96 a 120 120 0 0 0 0.58 -11.76 z' style='stroke:white;fill:white'/><path class='p' d='m 140 -0 l 20 -0 a 160 160 0 0 1 -0.77 15.68 l -19.9 -1.96 a 140 140 0 0 0 0.67 -13.72 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 39.81 3.92 l 19.9 1.96 a 60 60 0 0 1 -0.86 5.82 l -19.62 -3.9 a 40 40 0 0 0 0.58 -3.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 59.71 5.88 l 19.9 1.96 a 80 80 0 0 1 -1.15 7.77 l -19.62 -3.9 a 60 60 0 0 0 0.86 -5.82 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 79.61 7.84 l 19.9 1.96 a 100 100 0 0 1 -1.44 9.71 l -19.62 -3.9 a 80 80 0 0 0 1.15 -7.77 z' style='stroke:white;fill:white'/><path class='p' d='m 99.52 9.8 l 19.9 1.96 a 120 120 0 0 1 -1.73 11.65 l -19.62 -3.9 a 100 100 0 0 0 1.44 -9.71 z' style='stroke:white;fill:white'/><path class='p' d='m 119.42 11.76 l 19.9 1.96 a 140 140 0 0 1 -2.02 13.59 l -19.62 -3.9 a 120 120 0 0 0 1.73 -11.65 z' style='stroke:white;fill:white'/><path class='p' d='m 139.33 13.72 l 19.9 1.96 a 160 160 0 0 1 -2.3 15.53 l -19.62 -3.9 a 140 140 0 0 0 2.02 -13.59 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 39.23 7.8 l 19.62 3.9 a 60 60 0 0 1 -1.43 5.71 l -19.14 -5.81 a 40 40 0 0 0 0.95 -3.81 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 58.85 11.71 l 19.62 3.9 a 80 80 0 0 1 -1.91 7.62 l -19.14 -5.81 a 60 60 0 0 0 1.43 -5.71 z' style='stroke:white;fill:white'/><path class='p' d='m 78.46 15.61 l 19.62 3.9 a 100 100 0 0 1 -2.38 9.52 l -19.14 -5.81 a 80 80 0 0 0 1.91 -7.62 z' style='stroke:white;fill:white'/><path class='p' d='m 98.08 19.51 l 19.62 3.9 a 120 120 0 0 1 -2.86 11.42 l -19.14 -5.81 a 100 100 0 0 0 2.38 -9.52 z' style='stroke:white;fill:white'/><path class='p' d='m 117.69 23.41 l 19.62 3.9 a 140 140 0 0 1 -3.34 13.33 l -19.14 -5.81 a 120 120 0 0 0 2.86 -11.42 z' style='stroke:white;fill:white'/><path class='p' d='m 137.31 27.31 l 19.62 3.9 a 160 160 0 0 1 -3.82 15.23 l -19.14 -5.81 a 140 140 0 0 0 3.34 -13.33 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 38.28 11.61 l 19.14 5.81 a 60 60 0 0 1 -1.98 5.54 l -18.48 -7.65 a 40 40 0 0 0 1.32 -3.7 z' style='stroke:white;fill:white'/><path class='p' d='m 57.42 17.42 l 19.14 5.81 a 80 80 0 0 1 -2.64 7.39 l -18.48 -7.65 a 60 60 0 0 0 1.98 -5.54 z' style='stroke:white;fill:white'/><path class='p' d='m 76.56 23.22 l 19.14 5.81 a 100 100 0 0 1 -3.31 9.24 l -18.48 -7.65 a 80 80 0 0 0 2.64 -7.39 z' style='stroke:white;fill:white'/><path class='p' d='m 95.69 29.03 l 19.14 5.81 a 120 120 0 0 1 -3.97 11.09 l -18.48 -7.65 a 100 100 0 0 0 3.31 -9.24 z' style='stroke:white;fill:white'/><path class='p' d='m 114.83 34.83 l 19.14 5.81 a 140 140 0 0 1 -4.63 12.94 l -18.48 -7.65 a 120 120 0 0 0 3.97 -11.09 z' style='stroke:white;fill:white'/><path class='p' d='m 133.97 40.64 l 19.14 5.81 a 160 160 0 0 1 -5.29 14.78 l -18.48 -7.65 a 140 140 0 0 0 4.63 -12.94 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 36.96 15.31 l 18.48 7.65 a 60 60 0 0 1 -2.52 5.32 l -17.64 -9.43 a 40 40 0 0 0 1.68 -3.55 z' style='stroke:white;fill:white'/><path class='p' d='m 55.43 22.96 l 18.48 7.65 a 80 80 0 0 1 -3.36 7.1 l -17.64 -9.43 a 60 60 0 0 0 2.52 -5.32 z' style='stroke:white;fill:white'/><path class='p' d='m 73.91 30.61 l 18.48 7.65 a 100 100 0 0 1 -4.2 8.87 l -17.64 -9.43 a 80 80 0 0 0 3.36 -7.1 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 92.39 38.27 l 18.48 7.65 a 120 120 0 0 1 -5.03 10.65 l -17.64 -9.43 a 100 100 0 0 0 4.2 -8.87 z' style='stroke:white;fill:white'/><path class='p' d='m 110.87 45.92 l 18.48 7.65 a 140 140 0 0 1 -5.87 12.42 l -17.64 -9.43 a 120 120 0 0 0 5.03 -10.65 z' style='stroke:white;fill:white'/><path class='p' d='m 129.34 53.58 l 18.48 7.65 a 160 160 0 0 1 -6.71 14.19 l -17.64 -9.43 a 140 140 0 0 0 5.87 -12.42 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 35.28 18.86 l 17.64 9.43 a 60 60 0 0 1 -3.03 5.05 l -16.63 -11.11 a 40 40 0 0 0 2.02 -3.37 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 52.92 28.28 l 17.64 9.43 a 80 80 0 0 1 -4.04 6.73 l -16.63 -11.11 a 60 60 0 0 0 3.03 -5.05 z' style='stroke:white;fill:white'/><path class='p' d='m 70.55 37.71 l 17.64 9.43 a 100 100 0 0 1 -5.05 8.42 l -16.63 -11.11 a 80 80 0 0 0 4.04 -6.73 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 88.19 47.14 l 17.64 9.43 a 120 120 0 0 1 -6.05 10.1 l -16.63 -11.11 a 100 100 0 0 0 5.05 -8.42 z' style='stroke:white;fill:white'/><path class='p' d='m 105.83 56.57 l 17.64 9.43 a 140 140 0 0 1 -7.06 11.78 l -16.63 -11.11 a 120 120 0 0 0 6.05 -10.1 z' style='stroke:white;fill:white'/><path class='p' d='m 123.47 66 l 17.64 9.43 a 160 160 0 0 1 -8.07 13.47 l -16.63 -11.11 a 140 140 0 0 0 7.06 -11.78 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 33.26 22.22 l 16.63 11.11 a 60 60 0 0 1 -3.51 4.73 l -15.46 -12.69 a 40 40 0 0 0 2.34 -3.15 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 49.89 33.33 l 16.63 11.11 a 80 80 0 0 1 -4.68 6.31 l -15.46 -12.69 a 60 60 0 0 0 3.51 -4.73 z' style='stroke:white;fill:white'/><path class='p' d='m 66.52 44.45 l 16.63 11.11 a 100 100 0 0 1 -5.85 7.88 l -15.46 -12.69 a 80 80 0 0 0 4.68 -6.31 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 83.15 55.56 l 16.63 11.11 a 120 120 0 0 1 -7.02 9.46 l -15.46 -12.69 a 100 100 0 0 0 5.85 -7.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 99.78 66.67 l 16.63 11.11 a 140 140 0 0 1 -8.18 11.04 l -15.46 -12.69 a 120 120 0 0 0 7.02 -9.46 z' style='stroke:white;fill:white'/><path class='p' d='m 116.41 77.78 l 16.63 11.11 a 160 160 0 0 1 -9.35 12.61 l -15.46 -12.69 a 140 140 0 0 0 8.18 -11.04 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 30.92 25.38 l 15.46 12.69 a 60 60 0 0 1 -3.95 4.36 l -14.14 -14.14 a 40 40 0 0 0 2.64 -2.91 z' style='stroke:white;fill:white'/><path class='p' d='m 46.38 38.06 l 15.46 12.69 a 80 80 0 0 1 -5.27 5.82 l -14.14 -14.14 a 60 60 0 0 0 3.95 -4.36 z' style='stroke:white;fill:white'/><path class='p' d='m 61.84 50.75 l 15.46 12.69 a 100 100 0 0 1 -6.59 7.27 l -14.14 -14.14 a 80 80 0 0 0 5.27 -5.82 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 77.3 63.44 l 15.46 12.69 a 120 120 0 0 1 -7.91 8.73 l -14.14 -14.14 a 100 100 0 0 0 6.59 -7.27 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 92.76 76.13 l 15.46 12.69 a 140 140 0 0 1 -9.23 10.18 l -14.14 -14.14 a 120 120 0 0 0 7.91 -8.73 z' style='stroke:white;fill:white'/><path class='p' d='m 108.22 88.82 l 15.46 12.69 a 160 160 0 0 1 -10.54 11.63 l -14.14 -14.14 a 140 140 0 0 0 9.23 -10.18 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 28.28 28.28 l 14.14 14.14 a 60 60 0 0 1 -4.36 3.95 l -12.69 -15.46 a 40 40 0 0 0 2.91 -2.64 z' style='stroke:white;fill:white'/><path class='p' d='m 42.43 42.43 l 14.14 14.14 a 80 80 0 0 1 -5.82 5.27 l -12.69 -15.46 a 60 60 0 0 0 4.36 -3.95 z' style='stroke:white;fill:white'/><path class='p' d='m 56.57 56.57 l 14.14 14.14 a 100 100 0 0 1 -7.27 6.59 l -12.69 -15.46 a 80 80 0 0 0 5.82 -5.27 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 70.71 70.71 l 14.14 14.14 a 120 120 0 0 1 -8.73 7.91 l -12.69 -15.46 a 100 100 0 0 0 7.27 -6.59 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 84.85 84.85 l 14.14 14.14 a 140 140 0 0 1 -10.18 9.23 l -12.69 -15.46 a 120 120 0 0 0 8.73 -7.91 z' style='stroke:white;fill:white'/><path class='p' d='m 98.99 98.99 l 14.14 14.14 a 160 160 0 0 1 -11.63 10.54 l -12.69 -15.46 a 140 140 0 0 0 10.18 -9.23 z' style='stroke:white;fill:white'/><path class='p' d='m 25.38 30.92 l 12.69 15.46 a 60 60 0 0 1 -4.73 3.51 l -11.11 -16.63 a 40 40 0 0 0 3.15 -2.34 z' style='stroke:white;fill:white'/><path class='p' d='m 38.06 46.38 l 12.69 15.46 a 80 80 0 0 1 -6.31 4.68 l -11.11 -16.63 a 60 60 0 0 0 4.73 -3.51 z' style='stroke:white;fill:white'/><path class='p' d='m 50.75 61.84 l 12.69 15.46 a 100 100 0 0 1 -7.88 5.85 l -11.11 -16.63 a 80 80 0 0 0 6.31 -4.68 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 63.44 77.3 l 12.69 15.46 a 120 120 0 0 1 -9.46 7.02 l -11.11 -16.63 a 100 100 0 0 0 7.88 -5.85 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 76.13 92.76 l 12.69 15.46 a 140 140 0 0 1 -11.04 8.18 l -11.11 -16.63 a 120 120 0 0 0 9.46 -7.02 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 88.82 108.22 l 12.69 15.46 a 160 160 0 0 1 -12.61 9.35 l -11.11 -16.63 a 140 140 0 0 0 11.04 -8.18 z' style='stroke:white;fill:white'/><path class='p' d='m 22.22 33.26 l 11.11 16.63 a 60 60 0 0 1 -5.05 3.03 l -9.43 -17.64 a 40 40 0 0 0 3.37 -2.02 z' style='stroke:white;fill:white'/><path class='p' d='m 33.33 49.89 l 11.11 16.63 a 80 80 0 0 1 -6.73 4.04 l -9.43 -17.64 a 60 60 0 0 0 5.05 -3.03 z' style='stroke:white;fill:white'/><path class='p' d='m 44.45 66.52 l 11.11 16.63 a 100 100 0 0 1 -8.42 5.05 l -9.43 -17.64 a 80 80 0 0 0 6.73 -4.04 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 55.56 83.15 l 11.11 16.63 a 120 120 0 0 1 -10.1 6.05 l -9.43 -17.64 a 100 100 0 0 0 8.42 -5.05 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 66.67 99.78 l 11.11 16.63 a 140 140 0 0 1 -11.78 7.06 l -9.43 -17.64 a 120 120 0 0 0 10.1 -6.05 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 77.78 116.41 l 11.11 16.63 a 160 160 0 0 1 -13.47 8.07 l -9.43 -17.64 a 140 140 0 0 0 11.78 -7.06 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 18.86 35.28 l 9.43 17.64 a 60 60 0 0 1 -5.32 2.52 l -7.65 -18.48 a 40 40 0 0 0 3.55 -1.68 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 28.28 52.92 l 9.43 17.64 a 80 80 0 0 1 -7.1 3.36 l -7.65 -18.48 a 60 60 0 0 0 5.32 -2.52 z' style='stroke:white;fill:white'/><path class='p' d='m 37.71 70.55 l 9.43 17.64 a 100 100 0 0 1 -8.87 4.2 l -7.65 -18.48 a 80 80 0 0 0 7.1 -3.36 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 47.14 88.19 l 9.43 17.64 a 120 120 0 0 1 -10.65 5.03 l -7.65 -18.48 a 100 100 0 0 0 8.87 -4.2 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 56.57 105.83 l 9.43 17.64 a 140 140 0 0 1 -12.42 5.87 l -7.65 -18.48 a 120 120 0 0 0 10.65 -5.03 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 66 123.47 l 9.43 17.64 a 160 160 0 0 1 -14.19 6.71 l -7.65 -18.48 a 140 140 0 0 0 12.42 -5.87 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 15.31 36.96 l 7.65 18.48 a 60 60 0 0 1 -5.54 1.98 l -5.81 -19.14 a 40 40 0 0 0 3.7 -1.32 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 22.96 55.43 l 7.65 18.48 a 80 80 0 0 1 -7.39 2.64 l -5.81 -19.14 a 60 60 0 0 0 5.54 -1.98 z' style='stroke:white;fill:white'/><path class='p' d='m 30.61 73.91 l 7.65 18.48 a 100 100 0 0 1 -9.24 3.31 l -5.81 -19.14 a 80 80 0 0 0 7.39 -2.64 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 38.27 92.39 l 7.65 18.48 a 120 120 0 0 1 -11.09 3.97 l -5.81 -19.14 a 100 100 0 0 0 9.24 -3.31 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 45.92 110.87 l 7.65 18.48 a 140 140 0 0 1 -12.94 4.63 l -5.81 -19.14 a 120 120 0 0 0 11.09 -3.97 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 53.58 129.34 l 7.65 18.48 a 160 160 0 0 1 -14.78 5.29 l -5.81 -19.14 a 140 140 0 0 0 12.94 -4.63 z' style='stroke:white;fill:white'/><path class='p' d='m 11.61 38.28 l 5.81 19.14 a 60 60 0 0 1 -5.71 1.43 l -3.9 -19.62 a 40 40 0 0 0 3.81 -0.95 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 17.42 57.42 l 5.81 19.14 a 80 80 0 0 1 -7.62 1.91 l -3.9 -19.62 a 60 60 0 0 0 5.71 -1.43 z' style='stroke:white;fill:white'/><path class='p' d='m 23.22 76.56 l 5.81 19.14 a 100 100 0 0 1 -9.52 2.38 l -3.9 -19.62 a 80 80 0 0 0 7.62 -1.91 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 29.03 95.69 l 5.81 19.14 a 120 120 0 0 1 -11.42 2.86 l -3.9 -19.62 a 100 100 0 0 0 9.52 -2.38 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 34.83 114.83 l 5.81 19.14 a 140 140 0 0 1 -13.33 3.34 l -3.9 -19.62 a 120 120 0 0 0 11.42 -2.86 z' style='stroke:white;fill:white'/><path class='p' d='m 40.64 133.97 l 5.81 19.14 a 160 160 0 0 1 -15.23 3.82 l -3.9 -19.62 a 140 140 0 0 0 13.33 -3.34 z' style='stroke:white;fill:white'/><path class='p' d='m 7.8 39.23 l 3.9 19.62 a 60 60 0 0 1 -5.82 0.86 l -1.96 -19.9 a 40 40 0 0 0 3.88 -0.58 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 11.71 58.85 l 3.9 19.62 a 80 80 0 0 1 -7.77 1.15 l -1.96 -19.9 a 60 60 0 0 0 5.82 -0.86 z' style='stroke:white;fill:white'/><path class='p' d='m 15.61 78.46 l 3.9 19.62 a 100 100 0 0 1 -9.71 1.44 l -1.96 -19.9 a 80 80 0 0 0 7.77 -1.15 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 19.51 98.08 l 3.9 19.62 a 120 120 0 0 1 -11.65 1.73 l -1.96 -19.9 a 100 100 0 0 0 9.71 -1.44 z' style='stroke:white;fill:white'/><path class='p' d='m 23.41 117.69 l 3.9 19.62 a 140 140 0 0 1 -13.59 2.02 l -1.96 -19.9 a 120 120 0 0 0 11.65 -1.73 z' style='stroke:white;fill:white'/><path class='p' d='m 27.31 137.31 l 3.9 19.62 a 160 160 0 0 1 -15.53 2.3 l -1.96 -19.9 a 140 140 0 0 0 13.59 -2.02 z' style='stroke:white;fill:white'/><path class='p' d='m 3.92 39.81 l 1.96 19.9 a 60 60 0 0 1 -5.88 0.29 l -0 -20 a 40 40 0 0 0 3.92 -0.19 z' style='stroke:white;fill:white'/><path class='p' d='m 5.88 59.71 l 1.96 19.9 a 80 80 0 0 1 -7.84 0.39 l -0 -20 a 60 60 0 0 0 5.88 -0.29 z' style='stroke:white;fill:white'/><path class='p' d='m 7.84 79.61 l 1.96 19.9 a 100 100 0 0 1 -9.8 0.48 l -0 -20 a 80 80 0 0 0 7.84 -0.39 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 9.8 99.52 l 1.96 19.9 a 120 120 0 0 1 -11.76 0.58 l -0 -20 a 100 100 0 0 0 9.8 -0.48 z' style='stroke:white;fill:white'/><path class='p' d='m 11.76 119.42 l 1.96 19.9 a 140 140 0 0 1 -13.72 0.67 l -0 -20 a 120 120 0 0 0 11.76 -0.58 z' style='stroke:white;fill:white'/><path class='p' d='m 13.72 139.33 l 1.96 19.9 a 160 160 0 0 1 -15.68 0.77 l -0 -20 a 140 140 0 0 0 13.72 -0.67 z' style='stroke:white;fill:white'/><path class='p' d='m 0 40 l 0 20 a 60 60 0 0 1 -5.88 -0.29 l 1.96 -19.9 a 40 40 0 0 0 3.92 0.19 z' style='stroke:white;fill:white'/><path class='p' d='m 0 60 l 0 20 a 80 80 0 0 1 -7.84 -0.39 l 1.96 -19.9 a 60 60 0 0 0 5.88 0.29 z' style='stroke:white;fill:white'/><path class='p' d='m 0 80 l 0 20 a 100 100 0 0 1 -9.8 -0.48 l 1.96 -19.9 a 80 80 0 0 0 7.84 0.39 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 0 100 l 0 20 a 120 120 0 0 1 -11.76 -0.58 l 1.96 -19.9 a 100 100 0 0 0 9.8 0.48 z' style='stroke:white;fill:white'/><path class='p' d='m 0 120 l 0 20 a 140 140 0 0 1 -13.72 -0.67 l 1.96 -19.9 a 120 120 0 0 0 11.76 0.58 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 0 140 l 0 20 a 160 160 0 0 1 -15.68 -0.77 l 1.96 -19.9 a 140 140 0 0 0 13.72 0.67 z' style='stroke:white;fill:white'/><path class='p' d='m -3.92 39.81 l -1.96 19.9 a 60 60 0 0 1 -5.82 -0.86 l 3.9 -19.62 a 40 40 0 0 0 3.88 0.58 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -5.88 59.71 l -1.96 19.9 a 80 80 0 0 1 -7.77 -1.15 l 3.9 -19.62 a 60 60 0 0 0 5.82 0.86 z' style='stroke:white;fill:white'/><path class='p' d='m -7.84 79.61 l -1.96 19.9 a 100 100 0 0 1 -9.71 -1.44 l 3.9 -19.62 a 80 80 0 0 0 7.77 1.15 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -9.8 99.52 l -1.96 19.9 a 120 120 0 0 1 -11.65 -1.73 l 3.9 -19.62 a 100 100 0 0 0 9.71 1.44 z' style='stroke:white;fill:white'/><path class='p' d='m -11.76 119.42 l -1.96 19.9 a 140 140 0 0 1 -13.59 -2.02 l 3.9 -19.62 a 120 120 0 0 0 11.65 1.73 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -13.72 139.33 l -1.96 19.9 a 160 160 0 0 1 -15.53 -2.3 l 3.9 -19.62 a 140 140 0 0 0 13.59 2.02 z' style='stroke:white;fill:white'/><path class='p' d='m -7.8 39.23 l -3.9 19.62 a 60 60 0 0 1 -5.71 -1.43 l 5.81 -19.14 a 40 40 0 0 0 3.81 0.95 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -11.71 58.85 l -3.9 19.62 a 80 80 0 0 1 -7.62 -1.91 l 5.81 -19.14 a 60 60 0 0 0 5.71 1.43 z' style='stroke:white;fill:white'/><path class='p' d='m -15.61 78.46 l -3.9 19.62 a 100 100 0 0 1 -9.52 -2.38 l 5.81 -19.14 a 80 80 0 0 0 7.62 1.91 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -19.51 98.08 l -3.9 19.62 a 120 120 0 0 1 -11.42 -2.86 l 5.81 -19.14 a 100 100 0 0 0 9.52 2.38 z' style='stroke:white;fill:white'/><path class='p' d='m -23.41 117.69 l -3.9 19.62 a 140 140 0 0 1 -13.33 -3.34 l 5.81 -19.14 a 120 120 0 0 0 11.42 2.86 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -27.31 137.31 l -3.9 19.62 a 160 160 0 0 1 -15.23 -3.82 l 5.81 -19.14 a 140 140 0 0 0 13.33 3.34 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -11.61 38.28 l -5.81 19.14 a 60 60 0 0 1 -5.54 -1.98 l 7.65 -18.48 a 40 40 0 0 0 3.7 1.32 z' style='stroke:white;fill:white'/><path class='p' d='m -17.42 57.42 l -5.81 19.14 a 80 80 0 0 1 -7.39 -2.64 l 7.65 -18.48 a 60 60 0 0 0 5.54 1.98 z' style='stroke:white;fill:white'/><path class='p' d='m -23.22 76.56 l -5.81 19.14 a 100 100 0 0 1 -9.24 -3.31 l 7.65 -18.48 a 80 80 0 0 0 7.39 2.64 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -29.03 95.69 l -5.81 19.14 a 120 120 0 0 1 -11.09 -3.97 l 7.65 -18.48 a 100 100 0 0 0 9.24 3.31 z' style='stroke:white;fill:white'/><path class='p' d='m -34.83 114.83 l -5.81 19.14 a 140 140 0 0 1 -12.94 -4.63 l 7.65 -18.48 a 120 120 0 0 0 11.09 3.97 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -40.64 133.97 l -5.81 19.14 a 160 160 0 0 1 -14.78 -5.29 l 7.65 -18.48 a 140 140 0 0 0 12.94 4.63 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -15.31 36.96 l -7.65 18.48 a 60 60 0 0 1 -5.32 -2.52 l 9.43 -17.64 a 40 40 0 0 0 3.55 1.68 z' style='stroke:white;fill:white'/><path class='p' d='m -22.96 55.43 l -7.65 18.48 a 80 80 0 0 1 -7.1 -3.36 l 9.43 -17.64 a 60 60 0 0 0 5.32 2.52 z' style='stroke:white;fill:white'/><path class='p' d='m -30.61 73.91 l -7.65 18.48 a 100 100 0 0 1 -8.87 -4.2 l 9.43 -17.64 a 80 80 0 0 0 7.1 3.36 z' style='stroke:white;fill:white'/><path class='p' d='m -38.27 92.39 l -7.65 18.48 a 120 120 0 0 1 -10.65 -5.03 l 9.43 -17.64 a 100 100 0 0 0 8.87 4.2 z' style='stroke:white;fill:white'/><path class='p' d='m -45.92 110.87 l -7.65 18.48 a 140 140 0 0 1 -12.42 -5.87 l 9.43 -17.64 a 120 120 0 0 0 10.65 5.03 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -53.58 129.34 l -7.65 18.48 a 160 160 0 0 1 -14.19 -6.71 l 9.43 -17.64 a 140 140 0 0 0 12.42 5.87 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -18.86 35.28 l -9.43 17.64 a 60 60 0 0 1 -5.05 -3.03 l 11.11 -16.63 a 40 40 0 0 0 3.37 2.02 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -28.28 52.92 l -9.43 17.64 a 80 80 0 0 1 -6.73 -4.04 l 11.11 -16.63 a 60 60 0 0 0 5.05 3.03 z' style='stroke:white;fill:white'/><path class='p' d='m -37.71 70.55 l -9.43 17.64 a 100 100 0 0 1 -8.42 -5.05 l 11.11 -16.63 a 80 80 0 0 0 6.73 4.04 z' style='stroke:white;fill:white'/><path class='p' d='m -47.14 88.19 l -9.43 17.64 a 120 120 0 0 1 -10.1 -6.05 l 11.11 -16.63 a 100 100 0 0 0 8.42 5.05 z' style='stroke:white;fill:white'/><path class='p' d='m -56.57 105.83 l -9.43 17.64 a 140 140 0 0 1 -11.78 -7.06 l 11.11 -16.63 a 120 120 0 0 0 10.1 6.05 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -66 123.47 l -9.43 17.64 a 160 160 0 0 1 -13.47 -8.07 l 11.11 -16.63 a 140 140 0 0 0 11.78 7.06 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -22.22 33.26 l -11.11 16.63 a 60 60 0 0 1 -4.73 -3.51 l 12.69 -15.46 a 40 40 0 0 0 3.15 2.34 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -33.33 49.89 l -11.11 16.63 a 80 80 0 0 1 -6.31 -4.68 l 12.69 -15.46 a 60 60 0 0 0 4.73 3.51 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -44.45 66.52 l -11.11 16.63 a 100 100 0 0 1 -7.88 -5.85 l 12.69 -15.46 a 80 80 0 0 0 6.31 4.68 z' style='stroke:white;fill:white'/><path class='p' d='m -55.56 83.15 l -11.11 16.63 a 120 120 0 0 1 -9.46 -7.02 l 12.69 -15.46 a 100 100 0 0 0 7.88 5.85 z' style='stroke:white;fill:white'/><path class='p' d='m -66.67 99.78 l -11.11 16.63 a 140 140 0 0 1 -11.04 -8.18 l 12.69 -15.46 a 120 120 0 0 0 9.46 7.02 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -77.78 116.41 l -11.11 16.63 a 160 160 0 0 1 -12.61 -9.35 l 12.69 -15.46 a 140 140 0 0 0 11.04 8.18 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -25.38 30.92 l -12.69 15.46 a 60 60 0 0 1 -4.36 -3.95 l 14.14 -14.14 a 40 40 0 0 0 2.91 2.64 z' style='stroke:white;fill:white'/><path class='p' d='m -38.06 46.38 l -12.69 15.46 a 80 80 0 0 1 -5.82 -5.27 l 14.14 -14.14 a 60 60 0 0 0 4.36 3.95 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -50.75 61.84 l -12.69 15.46 a 100 100 0 0 1 -7.27 -6.59 l 14.14 -14.14 a 80 80 0 0 0 5.82 5.27 z' style='stroke:white;fill:white'/><path class='p' d='m -63.44 77.3 l -12.69 15.46 a 120 120 0 0 1 -8.73 -7.91 l 14.14 -14.14 a 100 100 0 0 0 7.27 6.59 z' style='stroke:white;fill:white'/><path class='p' d='m -76.13 92.76 l -12.69 15.46 a 140 140 0 0 1 -10.18 -9.23 l 14.14 -14.14 a 120 120 0 0 0 8.73 7.91 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -88.82 108.22 l -12.69 15.46 a 160 160 0 0 1 -11.63 -10.54 l 14.14 -14.14 a 140 140 0 0 0 10.18 9.23 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -28.28 28.28 l -14.14 14.14 a 60 60 0 0 1 -3.95 -4.36 l 15.46 -12.69 a 40 40 0 0 0 2.64 2.91 z' style='stroke:white;fill:white'/><path class='p' d='m -42.43 42.43 l -14.14 14.14 a 80 80 0 0 1 -5.27 -5.82 l 15.46 -12.69 a 60 60 0 0 0 3.95 4.36 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -56.57 56.57 l -14.14 14.14 a 100 100 0 0 1 -6.59 -7.27 l 15.46 -12.69 a 80 80 0 0 0 5.27 5.82 z' style='stroke:white;fill:white'/><path class='p' d='m -70.71 70.71 l -14.14 14.14 a 120 120 0 0 1 -7.91 -8.73 l 15.46 -12.69 a 100 100 0 0 0 6.59 7.27 z' style='stroke:white;fill:white'/><path class='p' d='m -84.85 84.85 l -14.14 14.14 a 140 140 0 0 1 -9.23 -10.18 l 15.46 -12.69 a 120 120 0 0 0 7.91 8.73 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -98.99 98.99 l -14.14 14.14 a 160 160 0 0 1 -10.54 -11.63 l 15.46 -12.69 a 140 140 0 0 0 9.23 10.18 z' style='stroke:white;fill:white'/><path class='p' d='m -30.92 25.38 l -15.46 12.69 a 60 60 0 0 1 -3.51 -4.73 l 16.63 -11.11 a 40 40 0 0 0 2.34 3.15 z' style='stroke:white;fill:white'/><path class='p' d='m -46.38 38.06 l -15.46 12.69 a 80 80 0 0 1 -4.68 -6.31 l 16.63 -11.11 a 60 60 0 0 0 3.51 4.73 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -61.84 50.75 l -15.46 12.69 a 100 100 0 0 1 -5.85 -7.88 l 16.63 -11.11 a 80 80 0 0 0 4.68 6.31 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -77.3 63.44 l -15.46 12.69 a 120 120 0 0 1 -7.02 -9.46 l 16.63 -11.11 a 100 100 0 0 0 5.85 7.88 z' style='stroke:white;fill:white'/><path class='p' d='m -92.76 76.13 l -15.46 12.69 a 140 140 0 0 1 -8.18 -11.04 l 16.63 -11.11 a 120 120 0 0 0 7.02 9.46 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -108.22 88.82 l -15.46 12.69 a 160 160 0 0 1 -9.35 -12.61 l 16.63 -11.11 a 140 140 0 0 0 8.18 11.04 z' style='stroke:white;fill:white'/><path class='p' d='m -33.26 22.22 l -16.63 11.11 a 60 60 0 0 1 -3.03 -5.05 l 17.64 -9.43 a 40 40 0 0 0 2.02 3.37 z' style='stroke:white;fill:white'/><path class='p' d='m -49.89 33.33 l -16.63 11.11 a 80 80 0 0 1 -4.04 -6.73 l 17.64 -9.43 a 60 60 0 0 0 3.03 5.05 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -66.52 44.45 l -16.63 11.11 a 100 100 0 0 1 -5.05 -8.42 l 17.64 -9.43 a 80 80 0 0 0 4.04 6.73 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -83.15 55.56 l -16.63 11.11 a 120 120 0 0 1 -6.05 -10.1 l 17.64 -9.43 a 100 100 0 0 0 5.05 8.42 z' style='stroke:white;fill:white'/><path class='p' d='m -99.78 66.67 l -16.63 11.11 a 140 140 0 0 1 -7.06 -11.78 l 17.64 -9.43 a 120 120 0 0 0 6.05 10.1 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -116.41 77.78 l -16.63 11.11 a 160 160 0 0 1 -8.07 -13.47 l 17.64 -9.43 a 140 140 0 0 0 7.06 11.78 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -35.28 18.86 l -17.64 9.43 a 60 60 0 0 1 -2.52 -5.32 l 18.48 -7.65 a 40 40 0 0 0 1.68 3.55 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -52.92 28.28 l -17.64 9.43 a 80 80 0 0 1 -3.36 -7.1 l 18.48 -7.65 a 60 60 0 0 0 2.52 5.32 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -70.55 37.71 l -17.64 9.43 a 100 100 0 0 1 -4.2 -8.87 l 18.48 -7.65 a 80 80 0 0 0 3.36 7.1 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -88.19 47.14 l -17.64 9.43 a 120 120 0 0 1 -5.03 -10.65 l 18.48 -7.65 a 100 100 0 0 0 4.2 8.87 z' style='stroke:white;fill:white'/><path class='p' d='m -105.83 56.57 l -17.64 9.43 a 140 140 0 0 1 -5.87 -12.42 l 18.48 -7.65 a 120 120 0 0 0 5.03 10.65 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -123.47 66 l -17.64 9.43 a 160 160 0 0 1 -6.71 -14.19 l 18.48 -7.65 a 140 140 0 0 0 5.87 12.42 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -36.96 15.31 l -18.48 7.65 a 60 60 0 0 1 -1.98 -5.54 l 19.14 -5.81 a 40 40 0 0 0 1.32 3.7 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -55.43 22.96 l -18.48 7.65 a 80 80 0 0 1 -2.64 -7.39 l 19.14 -5.81 a 60 60 0 0 0 1.98 5.54 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -73.91 30.61 l -18.48 7.65 a 100 100 0 0 1 -3.31 -9.24 l 19.14 -5.81 a 80 80 0 0 0 2.64 7.39 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -92.39 38.27 l -18.48 7.65 a 120 120 0 0 1 -3.97 -11.09 l 19.14 -5.81 a 100 100 0 0 0 3.31 9.24 z' style='stroke:white;fill:white'/><path class='p' d='m -110.87 45.92 l -18.48 7.65 a 140 140 0 0 1 -4.63 -12.94 l 19.14 -5.81 a 120 120 0 0 0 3.97 11.09 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -129.34 53.58 l -18.48 7.65 a 160 160 0 0 1 -5.29 -14.78 l 19.14 -5.81 a 140 140 0 0 0 4.63 12.94 z' style='stroke:white;fill:white'/><path class='p' d='m -38.28 11.61 l -19.14 5.81 a 60 60 0 0 1 -1.43 -5.71 l 19.62 -3.9 a 40 40 0 0 0 0.95 3.81 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -57.42 17.42 l -19.14 5.81 a 80 80 0 0 1 -1.91 -7.62 l 19.62 -3.9 a 60 60 0 0 0 1.43 5.71 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -76.56 23.22 l -19.14 5.81 a 100 100 0 0 1 -2.38 -9.52 l 19.62 -3.9 a 80 80 0 0 0 1.91 7.62 z' style='stroke:white;fill:white'/><path class='p' d='m -95.69 29.03 l -19.14 5.81 a 120 120 0 0 1 -2.86 -11.42 l 19.62 -3.9 a 100 100 0 0 0 2.38 9.52 z' style='stroke:white;fill:white'/><path class='p' d='m -114.83 34.83 l -19.14 5.81 a 140 140 0 0 1 -3.34 -13.33 l 19.62 -3.9 a 120 120 0 0 0 2.86 11.42 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -133.97 40.64 l -19.14 5.81 a 160 160 0 0 1 -3.82 -15.23 l 19.62 -3.9 a 140 140 0 0 0 3.34 13.33 z' style='stroke:white;fill:white'/><path class='p' d='m -39.23 7.8 l -19.62 3.9 a 60 60 0 0 1 -0.86 -5.82 l 19.9 -1.96 a 40 40 0 0 0 0.58 3.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -58.85 11.71 l -19.62 3.9 a 80 80 0 0 1 -1.15 -7.77 l 19.9 -1.96 a 60 60 0 0 0 0.86 5.82 z' style='stroke:white;fill:white'/><path class='p' d='m -78.46 15.61 l -19.62 3.9 a 100 100 0 0 1 -1.44 -9.71 l 19.9 -1.96 a 80 80 0 0 0 1.15 7.77 z' style='stroke:white;fill:white'/><path class='p' d='m -98.08 19.51 l -19.62 3.9 a 120 120 0 0 1 -1.73 -11.65 l 19.9 -1.96 a 100 100 0 0 0 1.44 9.71 z' style='stroke:white;fill:white'/><path class='p' d='m -117.69 23.41 l -19.62 3.9 a 140 140 0 0 1 -2.02 -13.59 l 19.9 -1.96 a 120 120 0 0 0 1.73 11.65 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -137.31 27.31 l -19.62 3.9 a 160 160 0 0 1 -2.3 -15.53 l 19.9 -1.96 a 140 140 0 0 0 2.02 13.59 z' style='stroke:white;fill:white'/><path class='p' d='m -39.81 3.92 l -19.9 1.96 a 60 60 0 0 1 -0.29 -5.88 l 20 -0 a 40 40 0 0 0 0.19 3.92 z' style='stroke:white;fill:white'/><path class='p' d='m -59.71 5.88 l -19.9 1.96 a 80 80 0 0 1 -0.39 -7.84 l 20 -0 a 60 60 0 0 0 0.29 5.88 z' style='stroke:white;fill:white'/><path class='p' d='m -79.61 7.84 l -19.9 1.96 a 100 100 0 0 1 -0.48 -9.8 l 20 -0 a 80 80 0 0 0 0.39 7.84 z' style='stroke:white;fill:white'/><path class='p' d='m -99.52 9.8 l -19.9 1.96 a 120 120 0 0 1 -0.58 -11.76 l 20 -0 a 100 100 0 0 0 0.48 9.8 z' style='stroke:white;fill:white'/><path class='p' d='m -119.42 11.76 l -19.9 1.96 a 140 140 0 0 1 -0.67 -13.72 l 20 -0 a 120 120 0 0 0 0.58 11.76 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -139.33 13.72 l -19.9 1.96 a 160 160 0 0 1 -0.77 -15.68 l 20 -0 a 140 140 0 0 0 0.67 13.72 z' style='stroke:white;fill:white'/><path class='p' d='m -40 0 l -20 0 a 60 60 0 0 1 0.29 -5.88 l 19.9 1.96 a 40 40 0 0 0 -0.19 3.92 z' style='stroke:white;fill:white'/><path class='p' d='m -60 0 l -20 0 a 80 80 0 0 1 0.39 -7.84 l 19.9 1.96 a 60 60 0 0 0 -0.29 5.88 z' style='stroke:white;fill:white'/><path class='p' d='m -80 0 l -20 0 a 100 100 0 0 1 0.48 -9.8 l 19.9 1.96 a 80 80 0 0 0 -0.39 7.84 z' style='stroke:white;fill:white'/><path class='p' d='m -100 0 l -20 0 a 120 120 0 0 1 0.58 -11.76 l 19.9 1.96 a 100 100 0 0 0 -0.48 9.8 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -120 0 l -20 0 a 140 140 0 0 1 0.67 -13.72 l 19.9 1.96 a 120 120 0 0 0 -0.58 11.76 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -140 0 l -20 0 a 160 160 0 0 1 0.77 -15.68 l 19.9 1.96 a 140 140 0 0 0 -0.67 13.72 z' style='stroke:white;fill:white'/><path class='p' d='m -39.81 -3.92 l -19.9 -1.96 a 60 60 0 0 1 0.86 -5.82 l 19.62 3.9 a 40 40 0 0 0 -0.58 3.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -59.71 -5.88 l -19.9 -1.96 a 80 80 0 0 1 1.15 -7.77 l 19.62 3.9 a 60 60 0 0 0 -0.86 5.82 z' style='stroke:white;fill:white'/><path class='p' d='m -79.61 -7.84 l -19.9 -1.96 a 100 100 0 0 1 1.44 -9.71 l 19.62 3.9 a 80 80 0 0 0 -1.15 7.77 z' style='stroke:white;fill:white'/><path class='p' d='m -99.52 -9.8 l -19.9 -1.96 a 120 120 0 0 1 1.73 -11.65 l 19.62 3.9 a 100 100 0 0 0 -1.44 9.71 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -119.42 -11.76 l -19.9 -1.96 a 140 140 0 0 1 2.02 -13.59 l 19.62 3.9 a 120 120 0 0 0 -1.73 11.65 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -139.33 -13.72 l -19.9 -1.96 a 160 160 0 0 1 2.3 -15.53 l 19.62 3.9 a 140 140 0 0 0 -2.02 13.59 z' style='stroke:white;fill:white'/><path class='p' d='m -39.23 -7.8 l -19.62 -3.9 a 60 60 0 0 1 1.43 -5.71 l 19.14 5.81 a 40 40 0 0 0 -0.95 3.81 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -58.85 -11.71 l -19.62 -3.9 a 80 80 0 0 1 1.91 -7.62 l 19.14 5.81 a 60 60 0 0 0 -1.43 5.71 z' style='stroke:white;fill:white'/><path class='p' d='m -78.46 -15.61 l -19.62 -3.9 a 100 100 0 0 1 2.38 -9.52 l 19.14 5.81 a 80 80 0 0 0 -1.91 7.62 z' style='stroke:white;fill:white'/><path class='p' d='m -98.08 -19.51 l -19.62 -3.9 a 120 120 0 0 1 2.86 -11.42 l 19.14 5.81 a 100 100 0 0 0 -2.38 9.52 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -117.69 -23.41 l -19.62 -3.9 a 140 140 0 0 1 3.34 -13.33 l 19.14 5.81 a 120 120 0 0 0 -2.86 11.42 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -137.31 -27.31 l -19.62 -3.9 a 160 160 0 0 1 3.82 -15.23 l 19.14 5.81 a 140 140 0 0 0 -3.34 13.33 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -38.28 -11.61 l -19.14 -5.81 a 60 60 0 0 1 1.98 -5.54 l 18.48 7.65 a 40 40 0 0 0 -1.32 3.7 z' style='stroke:white;fill:white'/><path class='p' d='m -57.42 -17.42 l -19.14 -5.81 a 80 80 0 0 1 2.64 -7.39 l 18.48 7.65 a 60 60 0 0 0 -1.98 5.54 z' style='stroke:white;fill:white'/><path class='p' d='m -76.56 -23.22 l -19.14 -5.81 a 100 100 0 0 1 3.31 -9.24 l 18.48 7.65 a 80 80 0 0 0 -2.64 7.39 z' style='stroke:white;fill:white'/><path class='p' d='m -95.69 -29.03 l -19.14 -5.81 a 120 120 0 0 1 3.97 -11.09 l 18.48 7.65 a 100 100 0 0 0 -3.31 9.24 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -114.83 -34.83 l -19.14 -5.81 a 140 140 0 0 1 4.63 -12.94 l 18.48 7.65 a 120 120 0 0 0 -3.97 11.09 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -133.97 -40.64 l -19.14 -5.81 a 160 160 0 0 1 5.29 -14.78 l 18.48 7.65 a 140 140 0 0 0 -4.63 12.94 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -36.96 -15.31 l -18.48 -7.65 a 60 60 0 0 1 2.52 -5.32 l 17.64 9.43 a 40 40 0 0 0 -1.68 3.55 z' style='stroke:white;fill:white'/><path class='p' d='m -55.43 -22.96 l -18.48 -7.65 a 80 80 0 0 1 3.36 -7.1 l 17.64 9.43 a 60 60 0 0 0 -2.52 5.32 z' style='stroke:white;fill:white'/><path class='p' d='m -73.91 -30.61 l -18.48 -7.65 a 100 100 0 0 1 4.2 -8.87 l 17.64 9.43 a 80 80 0 0 0 -3.36 7.1 z' style='stroke:white;fill:white'/><path class='p' d='m -92.39 -38.27 l -18.48 -7.65 a 120 120 0 0 1 5.03 -10.65 l 17.64 9.43 a 100 100 0 0 0 -4.2 8.87 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -110.87 -45.92 l -18.48 -7.65 a 140 140 0 0 1 5.87 -12.42 l 17.64 9.43 a 120 120 0 0 0 -5.03 10.65 z' style='stroke:white;fill:white'/><path class='p' d='m -129.34 -53.58 l -18.48 -7.65 a 160 160 0 0 1 6.71 -14.19 l 17.64 9.43 a 140 140 0 0 0 -5.87 12.42 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -35.28 -18.86 l -17.64 -9.43 a 60 60 0 0 1 3.03 -5.05 l 16.63 11.11 a 40 40 0 0 0 -2.02 3.37 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -52.92 -28.28 l -17.64 -9.43 a 80 80 0 0 1 4.04 -6.73 l 16.63 11.11 a 60 60 0 0 0 -3.03 5.05 z' style='stroke:white;fill:white'/><path class='p' d='m -70.55 -37.71 l -17.64 -9.43 a 100 100 0 0 1 5.05 -8.42 l 16.63 11.11 a 80 80 0 0 0 -4.04 6.73 z' style='stroke:white;fill:white'/><path class='p' d='m -88.19 -47.14 l -17.64 -9.43 a 120 120 0 0 1 6.05 -10.1 l 16.63 11.11 a 100 100 0 0 0 -5.05 8.42 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -105.83 -56.57 l -17.64 -9.43 a 140 140 0 0 1 7.06 -11.78 l 16.63 11.11 a 120 120 0 0 0 -6.05 10.1 z' style='stroke:white;fill:white'/><path class='p' d='m -123.47 -66 l -17.64 -9.43 a 160 160 0 0 1 8.07 -13.47 l 16.63 11.11 a 140 140 0 0 0 -7.06 11.78 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -33.26 -22.22 l -16.63 -11.11 a 60 60 0 0 1 3.51 -4.73 l 15.46 12.69 a 40 40 0 0 0 -2.34 3.15 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -49.89 -33.33 l -16.63 -11.11 a 80 80 0 0 1 4.68 -6.31 l 15.46 12.69 a 60 60 0 0 0 -3.51 4.73 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -66.52 -44.45 l -16.63 -11.11 a 100 100 0 0 1 5.85 -7.88 l 15.46 12.69 a 80 80 0 0 0 -4.68 6.31 z' style='stroke:white;fill:white'/><path class='p' d='m -83.15 -55.56 l -16.63 -11.11 a 120 120 0 0 1 7.02 -9.46 l 15.46 12.69 a 100 100 0 0 0 -5.85 7.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -99.78 -66.67 l -16.63 -11.11 a 140 140 0 0 1 8.18 -11.04 l 15.46 12.69 a 120 120 0 0 0 -7.02 9.46 z' style='stroke:white;fill:white'/><path class='p' d='m -116.41 -77.78 l -16.63 -11.11 a 160 160 0 0 1 9.35 -12.61 l 15.46 12.69 a 140 140 0 0 0 -8.18 11.04 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -30.92 -25.38 l -15.46 -12.69 a 60 60 0 0 1 3.95 -4.36 l 14.14 14.14 a 40 40 0 0 0 -2.64 2.91 z' style='stroke:white;fill:white'/><path class='p' d='m -46.38 -38.06 l -15.46 -12.69 a 80 80 0 0 1 5.27 -5.82 l 14.14 14.14 a 60 60 0 0 0 -3.95 4.36 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -61.84 -50.75 l -15.46 -12.69 a 100 100 0 0 1 6.59 -7.27 l 14.14 14.14 a 80 80 0 0 0 -5.27 5.82 z' style='stroke:white;fill:white'/><path class='p' d='m -77.3 -63.44 l -15.46 -12.69 a 120 120 0 0 1 7.91 -8.73 l 14.14 14.14 a 100 100 0 0 0 -6.59 7.27 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -92.76 -76.13 l -15.46 -12.69 a 140 140 0 0 1 9.23 -10.18 l 14.14 14.14 a 120 120 0 0 0 -7.91 8.73 z' style='stroke:white;fill:white'/><path class='p' d='m -108.22 -88.82 l -15.46 -12.69 a 160 160 0 0 1 10.54 -11.63 l 14.14 14.14 a 140 140 0 0 0 -9.23 10.18 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -28.28 -28.28 l -14.14 -14.14 a 60 60 0 0 1 4.36 -3.95 l 12.69 15.46 a 40 40 0 0 0 -2.91 2.64 z' style='stroke:white;fill:white'/><path class='p' d='m -42.43 -42.43 l -14.14 -14.14 a 80 80 0 0 1 5.82 -5.27 l 12.69 15.46 a 60 60 0 0 0 -4.36 3.95 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -56.57 -56.57 l -14.14 -14.14 a 100 100 0 0 1 7.27 -6.59 l 12.69 15.46 a 80 80 0 0 0 -5.82 5.27 z' style='stroke:white;fill:white'/><path class='p' d='m -70.71 -70.71 l -14.14 -14.14 a 120 120 0 0 1 8.73 -7.91 l 12.69 15.46 a 100 100 0 0 0 -7.27 6.59 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -84.85 -84.85 l -14.14 -14.14 a 140 140 0 0 1 10.18 -9.23 l 12.69 15.46 a 120 120 0 0 0 -8.73 7.91 z' style='stroke:white;fill:white'/><path class='p' d='m -98.99 -98.99 l -14.14 -14.14 a 160 160 0 0 1 11.63 -10.54 l 12.69 15.46 a 140 140 0 0 0 -10.18 9.23 z' style='stroke:white;fill:white'/><path class='p' d='m -25.38 -30.92 l -12.69 -15.46 a 60 60 0 0 1 4.73 -3.51 l 11.11 16.63 a 40 40 0 0 0 -3.15 2.34 z' style='stroke:white;fill:white'/><path class='p' d='m -38.06 -46.38 l -12.69 -15.46 a 80 80 0 0 1 6.31 -4.68 l 11.11 16.63 a 60 60 0 0 0 -4.73 3.51 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -50.75 -61.84 l -12.69 -15.46 a 100 100 0 0 1 7.88 -5.85 l 11.11 16.63 a 80 80 0 0 0 -6.31 4.68 z' style='stroke:white;fill:white'/><path class='p' d='m -63.44 -77.3 l -12.69 -15.46 a 120 120 0 0 1 9.46 -7.02 l 11.11 16.63 a 100 100 0 0 0 -7.88 5.85 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -76.13 -92.76 l -12.69 -15.46 a 140 140 0 0 1 11.04 -8.18 l 11.11 16.63 a 120 120 0 0 0 -9.46 7.02 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -88.82 -108.22 l -12.69 -15.46 a 160 160 0 0 1 12.61 -9.35 l 11.11 16.63 a 140 140 0 0 0 -11.04 8.18 z' style='stroke:white;fill:white'/><path class='p' d='m -22.22 -33.26 l -11.11 -16.63 a 60 60 0 0 1 5.05 -3.03 l 9.43 17.64 a 40 40 0 0 0 -3.37 2.02 z' style='stroke:white;fill:white'/><path class='p' d='m -33.33 -49.89 l -11.11 -16.63 a 80 80 0 0 1 6.73 -4.04 l 9.43 17.64 a 60 60 0 0 0 -5.05 3.03 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -44.45 -66.52 l -11.11 -16.63 a 100 100 0 0 1 8.42 -5.05 l 9.43 17.64 a 80 80 0 0 0 -6.73 4.04 z' style='stroke:white;fill:white'/><path class='p' d='m -55.56 -83.15 l -11.11 -16.63 a 120 120 0 0 1 10.1 -6.05 l 9.43 17.64 a 100 100 0 0 0 -8.42 5.05 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -66.67 -99.78 l -11.11 -16.63 a 140 140 0 0 1 11.78 -7.06 l 9.43 17.64 a 120 120 0 0 0 -10.1 6.05 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -77.78 -116.41 l -11.11 -16.63 a 160 160 0 0 1 13.47 -8.07 l 9.43 17.64 a 140 140 0 0 0 -11.78 7.06 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -18.86 -35.28 l -9.43 -17.64 a 60 60 0 0 1 5.32 -2.52 l 7.65 18.48 a 40 40 0 0 0 -3.55 1.68 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -28.28 -52.92 l -9.43 -17.64 a 80 80 0 0 1 7.1 -3.36 l 7.65 18.48 a 60 60 0 0 0 -5.32 2.52 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -37.71 -70.55 l -9.43 -17.64 a 100 100 0 0 1 8.87 -4.2 l 7.65 18.48 a 80 80 0 0 0 -7.1 3.36 z' style='stroke:white;fill:white'/><path class='p' d='m -47.14 -88.19 l -9.43 -17.64 a 120 120 0 0 1 10.65 -5.03 l 7.65 18.48 a 100 100 0 0 0 -8.87 4.2 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -56.57 -105.83 l -9.43 -17.64 a 140 140 0 0 1 12.42 -5.87 l 7.65 18.48 a 120 120 0 0 0 -10.65 5.03 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -66 -123.47 l -9.43 -17.64 a 160 160 0 0 1 14.19 -6.71 l 7.65 18.48 a 140 140 0 0 0 -12.42 5.87 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -15.31 -36.96 l -7.65 -18.48 a 60 60 0 0 1 5.54 -1.98 l 5.81 19.14 a 40 40 0 0 0 -3.7 1.32 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -22.96 -55.43 l -7.65 -18.48 a 80 80 0 0 1 7.39 -2.64 l 5.81 19.14 a 60 60 0 0 0 -5.54 1.98 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -30.61 -73.91 l -7.65 -18.48 a 100 100 0 0 1 9.24 -3.31 l 5.81 19.14 a 80 80 0 0 0 -7.39 2.64 z' style='stroke:white;fill:white'/><path class='p' d='m -38.27 -92.39 l -7.65 -18.48 a 120 120 0 0 1 11.09 -3.97 l 5.81 19.14 a 100 100 0 0 0 -9.24 3.31 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -45.92 -110.87 l -7.65 -18.48 a 140 140 0 0 1 12.94 -4.63 l 5.81 19.14 a 120 120 0 0 0 -11.09 3.97 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -53.58 -129.34 l -7.65 -18.48 a 160 160 0 0 1 14.78 -5.29 l 5.81 19.14 a 140 140 0 0 0 -12.94 4.63 z' style='stroke:white;fill:white'/><path class='p' d='m -11.61 -38.28 l -5.81 -19.14 a 60 60 0 0 1 5.71 -1.43 l 3.9 19.62 a 40 40 0 0 0 -3.81 0.95 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -17.42 -57.42 l -5.81 -19.14 a 80 80 0 0 1 7.62 -1.91 l 3.9 19.62 a 60 60 0 0 0 -5.71 1.43 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -23.22 -76.56 l -5.81 -19.14 a 100 100 0 0 1 9.52 -2.38 l 3.9 19.62 a 80 80 0 0 0 -7.62 1.91 z' style='stroke:white;fill:white'/><path class='p' d='m -29.03 -95.69 l -5.81 -19.14 a 120 120 0 0 1 11.42 -2.86 l 3.9 19.62 a 100 100 0 0 0 -9.52 2.38 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -34.83 -114.83 l -5.81 -19.14 a 140 140 0 0 1 13.33 -3.34 l 3.9 19.62 a 120 120 0 0 0 -11.42 2.86 z' style='stroke:white;fill:white'/><path class='p' d='m -40.64 -133.97 l -5.81 -19.14 a 160 160 0 0 1 15.23 -3.82 l 3.9 19.62 a 140 140 0 0 0 -13.33 3.34 z' style='stroke:white;fill:white'/><path class='p' d='m -7.8 -39.23 l -3.9 -19.62 a 60 60 0 0 1 5.82 -0.86 l 1.96 19.9 a 40 40 0 0 0 -3.88 0.58 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -11.71 -58.85 l -3.9 -19.62 a 80 80 0 0 1 7.77 -1.15 l 1.96 19.9 a 60 60 0 0 0 -5.82 0.86 z' style='stroke:white;fill:white'/><path class='p' d='m -15.61 -78.46 l -3.9 -19.62 a 100 100 0 0 1 9.71 -1.44 l 1.96 19.9 a 80 80 0 0 0 -7.77 1.15 z' style='stroke:white;fill:white'/><path class='p' d='m -19.51 -98.08 l -3.9 -19.62 a 120 120 0 0 1 11.65 -1.73 l 1.96 19.9 a 100 100 0 0 0 -9.71 1.44 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -23.41 -117.69 l -3.9 -19.62 a 140 140 0 0 1 13.59 -2.02 l 1.96 19.9 a 120 120 0 0 0 -11.65 1.73 z' style='stroke:white;fill:white'/><path class='p' d='m -27.31 -137.31 l -3.9 -19.62 a 160 160 0 0 1 15.53 -2.3 l 1.96 19.9 a 140 140 0 0 0 -13.59 2.02 z' style='stroke:white;fill:white'/><path class='p' d='m -3.92 -39.81 l -1.96 -19.9 a 60 60 0 0 1 5.88 -0.29 l 0 20 a 40 40 0 0 0 -3.92 0.19 z' style='stroke:white;fill:white'/><path class='p' d='m -5.88 -59.71 l -1.96 -19.9 a 80 80 0 0 1 7.84 -0.39 l 0 20 a 60 60 0 0 0 -5.88 0.29 z' style='stroke:white;fill:white'/><path class='p' d='m -7.84 -79.61 l -1.96 -19.9 a 100 100 0 0 1 9.8 -0.48 l 0 20 a 80 80 0 0 0 -7.84 0.39 z' style='stroke:white;fill:white'/><path class='p' d='m -9.8 -99.52 l -1.96 -19.9 a 120 120 0 0 1 11.76 -0.58 l 0 20 a 100 100 0 0 0 -9.8 0.48 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -11.76 -119.42 l -1.96 -19.9 a 140 140 0 0 1 13.72 -0.67 l 0 20 a 120 120 0 0 0 -11.76 0.58 z' style='stroke:white;fill:white'/><path class='p' d='m -13.72 -139.33 l -1.96 -19.9 a 160 160 0 0 1 15.68 -0.77 l 0 20 a 140 140 0 0 0 -13.72 0.67 z' style='stroke:white;fill:white'/><circle class='c' cx='0' cy='0' r='40'/><circle class='c' cx='0' cy='0' r='60'/><circle class='c' cx='0' cy='0' r='80'/><circle class='c' cx='0' cy='0' r='100'/><circle class='c' cx='0' cy='0' r='120'/><circle class='c' cx='0' cy='0' r='140'/><circle class='c' cx='0' cy='0' r='160'/><path class='m' d='m 0 -40 l 0 -125'/><path class='m' d='m 3.92 -39.81 l 12.25 -124.4'/><path class='m' d='m 7.8 -39.23 l 24.39 -122.6'/><path class='m' d='m 11.61 -38.28 l 36.29 -119.62'/><path class='m' d='m 15.31 -36.96 l 47.84 -115.48'/><path class='m' d='m 18.86 -35.28 l 58.92 -110.24'/><path class='m' d='m 22.22 -33.26 l 69.45 -103.93'/><path class='m' d='m 25.38 -30.92 l 79.3 -96.63'/><path class='m' d='m 28.28 -28.28 l 88.39 -88.39'/><path class='m' d='m 30.92 -25.38 l 96.63 -79.3'/><path class='m' d='m 33.26 -22.22 l 103.93 -69.45'/><path class='m' d='m 35.28 -18.86 l 110.24 -58.92'/><path class='m' d='m 36.96 -15.31 l 115.48 -47.84'/><path class='m' d='m 38.28 -11.61 l 119.62 -36.29'/><path class='m' d='m 39.23 -7.8 l 122.6 -24.39'/><path class='m' d='m 39.81 -3.92 l 124.4 -12.25'/><path class='m' d='m 40 -0 l 125 -0'/><path class='m' d='m 39.81 3.92 l 124.4 12.25'/><path class='m' d='m 39.23 7.8 l 122.6 24.39'/><path class='m' d='m 38.28 11.61 l 119.62 36.29'/><path class='m' d='m 36.96 15.31 l 115.48 47.84'/><path class='m' d='m 35.28 18.86 l 110.24 58.92'/><path class='m' d='m 33.26 22.22 l 103.93 69.45'/><path class='m' d='m 30.92 25.38 l 96.63 79.3'/><path class='m' d='m 28.28 28.28 l 88.39 88.39'/><path class='m' d='m 25.38 30.92 l 79.3 96.63'/><path class='m' d='m 22.22 33.26 l 69.45 103.93'/><path class='m' d='m 18.86 35.28 l 58.92 110.24'/><path class='m' d='m 15.31 36.96 l 47.84 115.48'/><path class='m' d='m 11.61 38.28 l 36.29 119.62'/><path class='m' d='m 7.8 39.23 l 24.39 122.6'/><path class='m' d='m 3.92 39.81 l 12.25 124.4'/><path class='m' d='m 0 40 l 0 125'/><path class='m' d='m -3.92 39.81 l -12.25 124.4'/><path class='m' d='m -7.8 39.23 l -24.39 122.6'/><path class='m' d='m -11.61 38.28 l -36.29 119.62'/><path class='m' d='m -15.31 36.96 l -47.84 115.48'/><path class='m' d='m -18.86 35.28 l -58.92 110.24'/><path class='m' d='m -22.22 33.26 l -69.45 103.93'/><path class='m' d='m -25.38 30.92 l -79.3 96.63'/><path class='m' d='m -28.28 28.28 l -88.39 88.39'/><path class='m' d='m -30.92 25.38 l -96.63 79.3'/><path class='m' d='m -33.26 22.22 l -103.93 69.45'/><path class='m' d='m -35.28 18.86 l -110.24 58.92'/><path class='m' d='m -36.96 15.31 l -115.48 47.84'/><path class='m' d='m -38.28 11.61 l -119.62 36.29'/><path class='m' d='m -39.23 7.8 l -122.6 24.39'/><path class='m' d='m -39.81 3.92 l -124.4 12.25'/><path class='m' d='m -40 0 l -125 0'/><path class='m' d='m -39.81 -3.92 l -124.4 -12.25'/><path class='m' d='m -39.23 -7.8 l -122.6 -24.39'/><path class='m' d='m -38.28 -11.61 l -119.62 -36.29'/><path class='m' d='m -36.96 -15.31 l -115.48 -47.84'/><path class='m' d='m -35.28 -18.86 l -110.24 -58.92'/><path class='m' d='m -33.26 -22.22 l -103.93 -69.45'/><path class='m' d='m -30.92 -25.38 l -96.63 -79.3'/><path class='m' d='m -28.28 -28.28 l -88.39 -88.39'/><path class='m' d='m -25.38 -30.92 l -79.3 -96.63'/><path class='m' d='m -22.22 -33.26 l -69.45 -103.93'/><path class='m' d='m -18.86 -35.28 l -58.92 -110.24'/><path class='m' d='m -15.31 -36.96 l -47.84 -115.48'/><path class='m' d='m -11.61 -38.28 l -36.29 -119.62'/><path class='m' d='m -7.8 -39.23 l -24.39 -122.6'/><path class='m' d='m -3.92 -39.81 l -12.25 -124.4'/></svg>
<svg width='330' height='330' viewBox='-165 -165 330 330'><style>.p{stroke-width:0.6}.m{stroke-width:1;stroke:black}.c{fill:none;stroke:black}</style><path class='p' d='m 0 -40 l 0 -20 a 60 60 0 0 1 18.54 2.94 l -6.18 19.02 a 40 40 0 0 0 -12.36 -1.96 z' style='stroke:red;fill:red'/><path class='p' d='m 0 -60 l 0 -20 a 80 80 0 0 1 24.72 3.92 l -6.18 19.02 a 60 60 0 0 0 -18.54 -2.94 z' style='stroke:red;fill:red'/><path class='p' d='m 0 -80 l 0 -20 a 100 100 0 0 1 30.9 4.89 l -6.18 19.02 a 80 80 0 0 0 -24.72 -3.92 z' style='stroke:red;fill:red'/><path class='p' d='m 0 -100 l 0 -20 a 120 120 0 0 1 37.08 5.87 l -6.18 19.02 a 100 100 0 0 0 -30.9 -4.89 z' style='stroke:red;fill:red'/><path class='p' d='m 0 -120 l 0 -20 a 140 140 0 0 1 43.26 6.85 l -6.18 19.02 a 120 120 0 0 0 -37.08 -5.87 z' style='stroke:red;fill:red'/><path class='p' d='m 0 -140 l 0 -20 a 160 160 0 0 1 49.44 7.83 l -6.18 19.02 a 140 140 0 0 0 -43.26 -6.85 z' style='stroke:red;fill:red'/><path class='p' d='m 12.36 -38.04 l 6.18 -19.02 a 60 60 0 0 1 16.73 8.52 l -11.76 16.18 a 40 40 0 0 0 -11.15 -5.68 z' style='stroke:white;fill:white'/><path class='p' d='m 18.54 -57.06 l 6.18 -19.02 a 80 80 0 0 1 22.3 11.36 l -11.76 16.18 a 60 60 0 0 0 -16.73 -8.52 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 24.72 -76.08 l 6.18 -19.02 a 100 100 0 0 1 27.88 14.2 l -11.76 16.18 a 80 80 0 0 0 -22.3 -11.36 z' style='stroke:red;fill:red'/><path class='p' d='m 30.9 -95.11 l 6.18 -19.02 a 120 120 0 0 1 33.45 17.04 l -11.76 16.18 a 100 100 0 0 0 -27.88 -14.2 z' style='stroke:red;fill:red'/><path class='p' d='m 37.08 -114.13 l 6.18 -19.02 a 140 140 0 0 1 39.03 19.89 l -11.76 16.18 a 120 120 0 0 0 -33.45 -17.04 z' style='stroke:red;fill:red'/><path class='p' d='m 43.26 -133.15 l 6.18 -19.02 a 160 160 0 0 1 44.6 22.73 l -11.76 16.18 a 140 140 0 0 0 -39.03 -19.89 z' style='stroke:red;fill:red'/><path class='p' d='m 23.51 -32.36 l 11.76 -16.18 a 60 60 0 0 1 13.27 13.27 l -16.18 11.76 a 40 40 0 0 0 -8.85 -8.85 z' style='stroke:white;fill:white'/><path class='p' d='m 35.27 -48.54 l 11.76 -16.18 a 80 80 0 0 1 17.7 17.7 l -16.18 11.76 a 60 60 0 0 0 -13.27 -13.27 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 47.02 -64.72 l 11.76 -16.18 a 100 100 0 0 1 22.12 22.12 l -16.18 11.76 a 80 80 0 0 0 -17.7 -17.7 z' style='stroke:red;fill:red'/><path class='p' d='m 58.78 -80.9 l 11.76 -16.18 a 120 120 0 0 1 26.55 26.55 l -16.18 11.76 a 100 100 0 0 0 -22.12 -22.12 z' style='stroke:red;fill:red'/><path class='p' d='m 70.53 -97.08 l 11.76 -16.18 a 140 140 0 0 1 30.97 30.97 l -16.18 11.76 a 120 120 0 0 0 -26.55 -26.55 z' style='stroke:white;fill:white'/><path class='p' d='m 82.29 -113.26 l 11.76 -16.18 a 160 160 0 0 1 35.4 35.4 l -16.18 11.76 a 140 140 0 0 0 -30.97 -30.97 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 32.36 -23.51 l 16.18 -11.76 a 60 60 0 0 1 8.52 16.73 l -19.02 6.18 a 40 40 0 0 0 -5.68 -11.15 z' style='stroke:red;fill:red'/><path class='p' d='m 48.54 -35.27 l 16.18 -11.76 a 80 80 0 0 1 11.36 22.3 l -19.02 6.18 a 60 60 0 0 0 -8.52 -16.73 z' style='stroke:red;fill:red'/><path class='p' d='m 64.72 -47.02 l 16.18 -11.76 a 100 100 0 0 1 14.2 27.88 l -19.02 6.18 a 80 80 0 0 0 -11.36 -22.3 z' style='stroke:red;fill:red'/><path class='p' d='m 80.9 -58.78 l 16.18 -11.76 a 120 120 0 0 1 17.04 33.45 l -19.02 6.18 a 100 100 0 0 0 -14.2 -27.88 z' style='stroke:red;fill:red'/><path class='p' d='m 97.08 -70.53 l 16.18 -11.76 a 140 140 0 0 1 19.89 39.03 l -19.02 6.18 a 120 120 0 0 0 -17.04 -33.45 z' style='stroke:white;fill:white'/><path class='p' d='m 113.26 -82.29 l 16.18 -11.76 a 160 160 0 0 1 22.73 44.6 l -19.02 6.18 a 140 140 0 0 0 -19.89 -39.03 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 38.04 -12.36 l 19.02 -6.18 a 60 60 0 0 1 2.94 18.54 l -20 0 a 40 40 0 0 0 -1.96 -12.36 z' style='stroke:red;fill:red'/><path class='p' d='m 57.06 -18.54 l 19.02 -6.18 a 80 80 0 0 1 3.92 24.72 l -20 0 a 60 60 0 0 0 -2.94 -18.54 z' style='stroke:white;fill:white'/><path class='p' d='m 76.08 -24.72 l 19.02 -6.18 a 100 100 0 0 1 4.89 30.9 l -20 0 a 80 80 0 0 0 -3.92 -24.72 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 95.11 -30.9 l 19.02 -6.18 a 120 120 0 0 1 5.87 37.08 l -20 0 a 100 100 0 0 0 -4.89 -30.9 z' style='stroke:red;fill:red'/><path class='p' d='m 114.13 -37.08 l 19.02 -6.18 a 140 140 0 0 1 6.85 43.26 l -20 0 a 120 120 0 0 0 -5.87 -37.08 z' style='stroke:white;fill:white'/><path class='p' d='m 133.15 -43.26 l 19.02 -6.18 a 160 160 0 0 1 7.83 49.44 l -20 0 a 140 140 0 0 0 -6.85 -43.26 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 40 -0 l 20 -0 a 60 60 0 0 1 -2.94 18.54 l -19.02 -6.18 a 40 40 0 0 0 1.96 -12.36 z' style='stroke:white;fill:white'/><path class='p' d='m 60 -0 l 20 -0 a 80 80 0 0 1 -3.92 24.72 l -19.02 -6.18 a 60 60 0 0 0 2.94 -18.54 z' style='stroke:white;fill:white'/><path class='p' d='m 80 -0 l 20 -0 a 100 100 0 0 1 -4.89 30.9 l -19.02 -6.18 a 80 80 0 0 0 3.92 -24.72 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 100 -0 l 20 -0 a 120 120 0 0 1 -5.87 37.08 l -19.02 -6.18 a 100 100 0 0 0 4.89 -30.9 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 120 -0 l 20 -0 a 140 140 0 0 1 -6.85 43.26 l -19.02 -6.18 a 120 120 0 0 0 5.87 -37.08 z' style='stroke:white;fill:white'/><path class='p' d='m 140 -0 l 20 -0 a 160 160 0 0 1 -7.83 49.44 l -19.02 -6.18 a 140 140 0 0 0 6.85 -43.26 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 38.04 12.36 l 19.02 6.18 a 60 60 0 0 1 -8.52 16.73 l -16.18 -11.76 a 40 40 0 0 0 5.68 -11.15 z' style='stroke:white;fill:white'/><path class='p' d='m 57.06 18.54 l 19.02 6.18 a 80 80 0 0 1 -11.36 22.3 l -16.18 -11.76 a 60 60 0 0 0 8.52 -16.73 z' style='stroke:white;fill:white'/><path class='p' d='m 76.08 24.72 l 19.02 6.18 a 100 100 0 0 1 -14.2 27.88 l -16.18 -11.76 a 80 80 0 0 0 11.36 -22.3 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 95.11 30.9 l 19.02 6.18 a 120 120 0 0 1 -17.04 33.45 l -16.18 -11.76 a 100 100 0 0 0 14.2 -27.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 114.13 37.08 l 19.02 6.18 a 140 140 0 0 1 -19.89 39.03 l -16.18 -11.76 a 120 120 0 0 0 17.04 -33.45 z' style='stroke:red;fill:red'/><path class='p' d='m 133.15 43.26 l 19.02 6.18 a 160 160 0 0 1 -22.73 44.6 l -16.18 -11.76 a 140 140 0 0 0 19.89 -39.03 z' style='stroke:red;fill:red'/><path class='p' d='m 32.36 23.51 l 16.18 11.76 a 60 60 0 0 1 -13.27 13.27 l -11.76 -16.18 a 40 40 0 0 0 8.85 -8.85 z' style='stroke:red;fill:red'/><path class='p' d='m 48.54 35.27 l 16.18 11.76 a 80 80 0 0 1 -17.7 17.7 l -11.76 -16.18 a 60 60 0 0 0 13.27 -13.27 z' style='stroke:white;fill:white'/><path class='p' d='m 64.72 47.02 l 16.18 11.76 a 100 100 0 0 1 -22.12 22.12 l -11.76 -16.18 a 80 80 0 0 0 17.7 -17.7 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 80.9 58.78 l 16.18 11.76 a 120 120 0 0 1 -26.55 26.55 l -11.76 -16.18 a 100 100 0 0 0 22.12 -22.12 z' style='stroke:red;fill:red'/><path class='p' d='m 97.08 70.53 l 16.18 11.76 a 140 140 0 0 1 -30.97 30.97 l -11.76 -16.18 a 120 120 0 0 0 26.55 -26.55 z' style='stroke:red;fill:red'/><path class='p' d='m 113.26 82.29 l 16.18 11.76 a 160 160 0 0 1 -35.4 35.4 l -11.76 -16.18 a 140 140 0 0 0 30.97 -30.97 z' style='stroke:red;fill:red'/><path class='p' d='m 23.51 32.36 l 11.76 16.18 a 60 60 0 0 1 -16.73 8.52 l -6.18 -19.02 a 40 40 0 0 0 11.15 -5.68 z' style='stroke:red;fill:red'/><path class='p' d='m 35.27 48.54 l 11.76 16.18 a 80 80 0 0 1 -22.3 11.36 l -6.18 -19.02 a 60 60 0 0 0 16.73 -8.52 z' style='stroke:white;fill:white'/><path class='p' d='m 47.02 64.72 l 11.76 16.18 a 100 100 0 0 1 -27.88 14.2 l -6.18 -19.02 a 80 80 0 0 0 22.3 -11.36 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 58.78 80.9 l 11.76 16.18 a 120 120 0 0 1 -33.45 17.04 l -6.18 -19.02 a 100 100 0 0 0 27.88 -14.2 z' style='stroke:white;fill:white'/><path class='p' d='m 70.53 97.08 l 11.76 16.18 a 140 140 0 0 1 -39.03 19.89 l -6.18 -19.02 a 120 120 0 0 0 33.45 -17.04 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 82.29 113.26 l 11.76 16.18 a 160 160 0 0 1 -44.6 22.73 l -6.18 -19.02 a 140 140 0 0 0 39.03 -19.89 z' style='stroke:red;fill:red'/><path class='p' d='m 12.36 38.04 l 6.18 19.02 a 60 60 0 0 1 -18.54 2.94 l -0 -20 a 40 40 0 0 0 12.36 -1.96 z' style='stroke:white;fill:white'/><path class='p' d='m 18.54 57.06 l 6.18 19.02 a 80 80 0 0 1 -24.72 3.92 l -0 -20 a 60 60 0 0 0 18.54 -2.94 z' style='stroke:white;fill:white'/><path class='p' d='m 24.72 76.08 l 6.18 19.02 a 100 100 0 0 1 -30.9 4.89 l -0 -20 a 80 80 0 0 0 24.72 -3.92 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 30.9 95.11 l 6.18 19.02 a 120 120 0 0 1 -37.08 5.87 l -0 -20 a 100 100 0 0 0 30.9 -4.89 z' style='stroke:white;fill:white'/><path class='p' d='m 37.08 114.13 l 6.18 19.02 a 140 140 0 0 1 -43.26 6.85 l -0 -20 a 120 120 0 0 0 37.08 -5.87 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 43.26 133.15 l 6.18 19.02 a 160 160 0 0 1 -49.44 7.83 l -0 -20 a 140 140 0 0 0 43.26 -6.85 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 0 40 l 0 20 a 60 60 0 0 1 -18.54 -2.94 l 6.18 -19.02 a 40 40 0 0 0 12.36 1.96 z' style='stroke:red;fill:red'/><path class='p' d='m 0 60 l 0 20 a 80 80 0 0 1 -24.72 -3.92 l 6.18 -19.02 a 60 60 0 0 0 18.54 2.94 z' style='stroke:red;fill:red'/><path class='p' d='m 0 80 l 0 20 a 100 100 0 0 1 -30.9 -4.89 l 6.18 -19.02 a 80 80 0 0 0 24.72 3.92 z' style='stroke:white;fill:white'/><path class='p' d='m 0 100 l 0 20 a 120 120 0 0 1 -37.08 -5.87 l 6.18 -19.02 a 100 100 0 0 0 30.9 4.89 z' style='stroke:white;fill:white'/><path class='p' d='m 0 120 l 0 20 a 140 140 0 0 1 -43.26 -6.85 l 6.18 -19.02 a 120 120 0 0 0 37.08 5.87 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m 0 140 l 0 20 a 160 160 0 0 1 -49.44 -7.83 l 6.18 -19.02 a 140 140 0 0 0 43.26 6.85 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -12.36 38.04 l -6.18 19.02 a 60 60 0 0 1 -16.73 -8.52 l 11.76 -16.18 a 40 40 0 0 0 11.15 5.68 z' style='stroke:white;fill:white'/><path class='p' d='m -18.54 57.06 l -6.18 19.02 a 80 80 0 0 1 -22.3 -11.36 l 11.76 -16.18 a 60 60 0 0 0 16.73 8.52 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -24.72 76.08 l -6.18 19.02 a 100 100 0 0 1 -27.88 -14.2 l 11.76 -16.18 a 80 80 0 0 0 22.3 11.36 z' style='stroke:white;fill:white'/><path class='p' d='m -30.9 95.11 l -6.18 19.02 a 120 120 0 0 1 -33.45 -17.04 l 11.76 -16.18 a 100 100 0 0 0 27.88 14.2 z' style='stroke:white;fill:white'/><path class='p' d='m -37.08 114.13 l -6.18 19.02 a 140 140 0 0 1 -39.03 -19.89 l 11.76 -16.18 a 120 120 0 0 0 33.45 17.04 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -43.26 133.15 l -6.18 19.02 a 160 160 0 0 1 -44.6 -22.73 l 11.76 -16.18 a 140 140 0 0 0 39.03 19.89 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -23.51 32.36 l -11.76 16.18 a 60 60 0 0 1 -13.27 -13.27 l 16.18 -11.76 a 40 40 0 0 0 8.85 8.85 z' style='stroke:white;fill:white'/><path class='p' d='m -35.27 48.54 l -11.76 16.18 a 80 80 0 0 1 -17.7 -17.7 l 16.18 -11.76 a 60 60 0 0 0 13.27 13.27 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -47.02 64.72 l -11.76 16.18 a 100 100 0 0 1 -22.12 -22.12 l 16.18 -11.76 a 80 80 0 0 0 17.7 17.7 z' style='stroke:red;fill:red'/><path class='p' d='m -58.78 80.9 l -11.76 16.18 a 120 120 0 0 1 -26.55 -26.55 l 16.18 -11.76 a 100 100 0 0 0 22.12 22.12 z' style='stroke:white;fill:white'/><path class='p' d='m -70.53 97.08 l -11.76 16.18 a 140 140 0 0 1 -30.97 -30.97 l 16.18 -11.76 a 120 120 0 0 0 26.55 26.55 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -82.29 113.26 l -11.76 16.18 a 160 160 0 0 1 -35.4 -35.4 l 16.18 -11.76 a 140 140 0 0 0 30.97 30.97 z' style='stroke:red;fill:red'/><path class='p' d='m -32.36 23.51 l -16.18 11.76 a 60 60 0 0 1 -8.52 -16.73 l 19.02 -6.18 a 40 40 0 0 0 5.68 11.15 z' style='stroke:red;fill:red'/><path class='p' d='m -48.54 35.27 l -16.18 11.76 a 80 80 0 0 1 -11.36 -22.3 l 19.02 -6.18 a 60 60 0 0 0 8.52 16.73 z' style='stroke:red;fill:red'/><path class='p' d='m -64.72 47.02 l -16.18 11.76 a 100 100 0 0 1 -14.2 -27.88 l 19.02 -6.18 a 80 80 0 0 0 11.36 22.3 z' style='stroke:red;fill:red'/><path class='p' d='m -80.9 58.78 l -16.18 11.76 a 120 120 0 0 1 -17.04 -33.45 l 19.02 -6.18 a 100 100 0 0 0 14.2 27.88 z' style='stroke:white;fill:white'/><path class='p' d='m -97.08 70.53 l -16.18 11.76 a 140 140 0 0 1 -19.89 -39.03 l 19.02 -6.18 a 120 120 0 0 0 17.04 33.45 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -113.26 82.29 l -16.18 11.76 a 160 160 0 0 1 -22.73 -44.6 l 19.02 -6.18 a 140 140 0 0 0 19.89 39.03 z' style='stroke:red;fill:red'/><path class='p' d='m -38.04 12.36 l -19.02 6.18 a 60 60 0 0 1 -2.94 -18.54 l 20 -0 a 40 40 0 0 0 1.96 12.36 z' style='stroke:red;fill:red'/><path class='p' d='m -57.06 18.54 l -19.02 6.18 a 80 80 0 0 1 -3.92 -24.72 l 20 -0 a 60 60 0 0 0 2.94 18.54 z' style='stroke:white;fill:white'/><path class='p' d='m -76.08 24.72 l -19.02 6.18 a 100 100 0 0 1 -4.89 -30.9 l 20 -0 a 80 80 0 0 0 3.92 24.72 z' style='stroke:white;fill:white'/><path class='p' d='m -95.11 30.9 l -19.02 6.18 a 120 120 0 0 1 -5.87 -37.08 l 20 -0 a 100 100 0 0 0 4.89 30.9 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -114.13 37.08 l -19.02 6.18 a 140 140 0 0 1 -6.85 -43.26 l 20 -0 a 120 120 0 0 0 5.87 37.08 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -133.15 43.26 l -19.02 6.18 a 160 160 0 0 1 -7.83 -49.44 l 20 -0 a 140 140 0 0 0 6.85 43.26 z' style='stroke:red;fill:red'/><path class='p' d='m -40 0 l -20 0 a 60 60 0 0 1 2.94 -18.54 l 19.02 6.18 a 40 40 0 0 0 -1.96 12.36 z' style='stroke:white;fill:white'/><path class='p' d='m -60 0 l -20 0 a 80 80 0 0 1 3.92 -24.72 l 19.02 6.18 a 60 60 0 0 0 -2.94 18.54 z' style='stroke:white;fill:white'/><path class='p' d='m -80 0 l -20 0 a 100 100 0 0 1 4.89 -30.9 l 19.02 6.18 a 80 80 0 0 0 -3.92 24.72 z' style='stroke:white;fill:white'/><path class='p' d='m -100 0 l -20 0 a 120 120 0 0 1 5.87 -37.08 l 19.02 6.18 a 100 100 0 0 0 -4.89 30.9 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -120 0 l -20 0 a 140 140 0 0 1 6.85 -43.26 l 19.02 6.18 a 120 120 0 0 0 -5.87 37.08 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -140 0 l -20 0 a 160 160 0 0 1 7.83 -49.44 l 19.02 6.18 a 140 140 0 0 0 -6.85 43.26 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -38.04 -12.36 l -19.02 -6.18 a 60 60 0 0 1 8.52 -16.73 l 16.18 11.76 a 40 40 0 0 0 -5.68 11.15 z' style='stroke:red;fill:red'/><path class='p' d='m -57.06 -18.54 l -19.02 -6.18 a 80 80 0 0 1 11.36 -22.3 l 16.18 11.76 a 60 60 0 0 0 -8.52 16.73 z' style='stroke:red;fill:red'/><path class='p' d='m -76.08 -24.72 l -19.02 -6.18 a 100 100 0 0 1 14.2 -27.88 l 16.18 11.76 a 80 80 0 0 0 -11.36 22.3 z' style='stroke:white;fill:white'/><path class='p' d='m -95.11 -30.9 l -19.02 -6.18 a 120 120 0 0 1 17.04 -33.45 l 16.18 11.76 a 100 100 0 0 0 -14.2 27.88 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -114.13 -37.08 l -19.02 -6.18 a 140 140 0 0 1 19.89 -39.03 l 16.18 11.76 a 120 120 0 0 0 -17.04 33.45 z' style='stroke:white;fill:white'/><path class='p' d='m -133.15 -43.26 l -19.02 -6.18 a 160 160 0 0 1 22.73 -44.6 l 16.18 11.76 a 140 140 0 0 0 -19.89 39.03 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -32.36 -23.51 l -16.18 -11.76 a 60 60 0 0 1 13.27 -13.27 l 11.76 16.18 a 40 40 0 0 0 -8.85 8.85 z' style='stroke:white;fill:white'/><path class='p' d='m -48.54 -35.27 l -16.18 -11.76 a 80 80 0 0 1 17.7 -17.7 l 11.76 16.18 a 60 60 0 0 0 -13.27 13.27 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -64.72 -47.02 l -16.18 -11.76 a 100 100 0 0 1 22.12 -22.12 l 11.76 16.18 a 80 80 0 0 0 -17.7 17.7 z' style='stroke:white;fill:white'/><path class='p' d='m -80.9 -58.78 l -16.18 -11.76 a 120 120 0 0 1 26.55 -26.55 l 11.76 16.18 a 100 100 0 0 0 -22.12 22.12 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -97.08 -70.53 l -16.18 -11.76 a 140 140 0 0 1 30.97 -30.97 l 11.76 16.18 a 120 120 0 0 0 -26.55 26.55 z' style='stroke:white;fill:white'/><path class='p' d='m -113.26 -82.29 l -16.18 -11.76 a 160 160 0 0 1 35.4 -35.4 l 11.76 16.18 a 140 140 0 0 0 -30.97 30.97 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -23.51 -32.36 l -11.76 -16.18 a 60 60 0 0 1 16.73 -8.52 l 6.18 19.02 a 40 40 0 0 0 -11.15 5.68 z' style='stroke:white;fill:white'/><path class='p' d='m -35.27 -48.54 l -11.76 -16.18 a 80 80 0 0 1 22.3 -11.36 l 6.18 19.02 a 60 60 0 0 0 -16.73 8.52 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -47.02 -64.72 l -11.76 -16.18 a 100 100 0 0 1 27.88 -14.2 l 6.18 19.02 a 80 80 0 0 0 -22.3 11.36 z' style='stroke:white;fill:white'/><path class='p' d='m -58.78 -80.9 l -11.76 -16.18 a 120 120 0 0 1 33.45 -17.04 l 6.18 19.02 a 100 100 0 0 0 -27.88 14.2 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -70.53 -97.08 l -11.76 -16.18 a 140 140 0 0 1 39.03 -19.89 l 6.18 19.02 a 120 120 0 0 0 -33.45 17.04 z' style='stroke:red;fill:red'/><path class='p' d='m -82.29 -113.26 l -11.76 -16.18 a 160 160 0 0 1 44.6 -22.73 l 6.18 19.02 a 140 140 0 0 0 -39.03 19.89 z' style='stroke:red;fill:red'/><path class='p' d='m -12.36 -38.04 l -6.18 -19.02 a 60 60 0 0 1 18.54 -2.94 l 0 20 a 40 40 0 0 0 -12.36 1.96 z' style='stroke:red;fill:red'/><path class='p' d='m -18.54 -57.06 l -6.18 -19.02 a 80 80 0 0 1 24.72 -3.92 l 0 20 a 60 60 0 0 0 -18.54 2.94 z' style='stroke:red;fill:red'/><path class='p' d='m -24.72 -76.08 l -6.18 -19.02 a 100 100 0 0 1 30.9 -4.89 l 0 20 a 80 80 0 0 0 -24.72 3.92 z' style='stroke:white;fill:white'/><path class='p' d='m -30.9 -95.11 l -6.18 -19.02 a 120 120 0 0 1 37.08 -5.87 l 0 20 a 100 100 0 0 0 -30.9 4.89 z' style='stroke:dimgray;fill:dimgray'/><path class='p' d='m -37.08 -114.13 l -6.18 -19.02 a 140 140 0 0 1 43.26 -6.85 l 0 20 a 120 120 0 0 0 -37.08 5.87 z' style='stroke:red;fill:red'/><path class='p' d='m -43.26 -133.15 l -6.18 -19.02 a 160 160 0 0 1 49.44 -7.83 l 0 20 a 140 140 0 0 0 -43.26 6.85 z' style='stroke:red;fill:red'/><circle class='c' cx='0' cy='0' r='40'/><circle class='c' cx='0' cy='0' r='60'/><circle class='c' cx='0' cy='0' r='80'/><circle class='c' cx='0' cy='0' r='100'/><circle class='c' cx='0' cy='0' r='120'/><circle class='c' cx='0' cy='0' r='140'/><circle class='c' cx='0' cy='0' r='160'/><path class='m' d='m 0 -40 l 0 -125'/><path class='m' d='m 12.36 -38.04 l 38.63 -118.88'/><path class='m' d='m 23.51 -32.36 l 73.47 -101.13'/><path class='m' d='m 32.36 -23.51 l 101.13 -73.47'/><path class='m' d='m 38.04 -12.36 l 118.88 -38.63'/><path class='m' d='m 40 -0 l 125 -0'/><path class='m' d='m 38.04 12.36 l 118.88 38.63'/><path class='m' d='m 32.36 23.51 l 101.13 73.47'/><path class='m' d='m 23.51 32.36 l 73.47 101.13'/><path class='m' d='m 12.36 38.04 l 38.63 118.88'/><path class='m' d='m 0 40 l 0 125'/><path class='m' d='m -12.36 38.04 l -38.63 118.88'/><path class='m' d='m -23.51 32.36 l -73.47 101.13'/><path class='m' d='m -32.36 23.51 l -101.13 73.47'/><path class='m' d='m -38.04 12.36 l -118.88 38.63'/><path class='m' d='m -40 0 l -125 0'/><path class='m' d='m -38.04 -12.36 l -118.88 -38.63'/><path class='m' d='m -32.36 -23.51 l -101.13 -73.47'/><path class='m' d='m -23.51 -32.36 l -73.47 -101.13'/><path class='m' d='m -12.36 -38.04 l -38.63 -118.88'/></svg>