<ul id="refs">
<li>[CF49] K. L. Chung and W. Feller. On fluctuations in coin-tossing. Proc. Nat. Acad. Sci. U. S. A., 35:605–608, 1949.
</li>
<li>[MSW18] T. M&uuml;tze, C. Standke, and V. Wiechert. A minimum-change version of the Chung-Feller theorem for Dyck paths. European J. Combin., 69:260–275, 2018.
</li>
</ul>