<h1>Lyndon words over $GF(4)$ with given trace and subtrace</h1>

Here we consider the number $L(n;t,s)$ of length $n$ Lyndon words $a_1 a_2 \ldots a_n$ over the alphabet consisting of the elements of the field $GF(4)$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a Lyndon word is the sum of its digits over the field, i.e., $t = a_1 + a_2 + \cdots + a_n$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken over the field, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.

Below we use $a=\operatorname{root}(x^2+x+1)$ and $b=1+a$.

<p>
<table class="data"><tr>
<td> 
<td align="center" colspan="5">(trace,subtrace)</td>
<tr>  
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)<br>(0,$a$)<br>(0,$b$)
<td class="special" align="center">(1,0)<br>($a$,0)<br>($b$,0)
<td class="special" align="center">(1,1)<br>($a$,$b$)<br>($b$,$a$)
<td class="special" align="center">(1,$a$)<br>(1,$b$)<br>($a$,1)<br>($a$,$a$)<br>($b$,1)<br>($b$,$b$)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0
<td align="right">1<td align="right">0
<td align="right">0
<tr><th align="center" class="special">2</th>
<td align="right">0<td align="right">0
<td align="right">1<td align="right">1
<td align="right">0
<tr><th align="center" class="special">3</th>
<td align="right">2<td align="right">1
<td align="right">1<td align="right">2
<td align="right">1
<tr><th align="center" class="special">4</th>
<td align="right">6<td align="right">2
<td align="right">4<td align="right">4
<td align="right">4
<tr><th align="center" class="special">5</th>
<td align="right">15<td align="right">12
<td align="right">15<td align="right">12
<td align="right">12
<tr><th align="center" class="special">6</th>
<td align="right">40<td align="right">40
<td align="right">45<td align="right">45
<td align="right">40
<tr><th align="center" class="special">7</th>
<td align="right">153<td align="right">144
<td align="right">144<td align="right">153
<td align="right">144
<tr><th align="center" class="special">8</th>
<td align="right">528<td align="right">496
<td align="right">512<td align="right">512
<td align="right">512
<tr><th align="center" class="special">9</th>
<td align="right">1841<td align="right">1813
<td align="right">1841<td align="right">1813
<td align="right">1813
<tr><th align="center" class="special">10</th>
<td align="right">6528<td align="right">6528
<td align="right">6579<td align="right">6579
<td align="right">6528
<tr><th align="center" class="special">11</th>
<td align="right">23901<td align="right">23808
<td align="right">23808<td align="right">23901
<td align="right">23808
<tr><th align="center" class="special">12</th>
<td align="right">87550<td align="right">87210
<td align="right">87380<td align="right">87380
<td align="right">87380
<tr><th align="center" class="special">13</th>
<td align="right">322875<td align="right">322560
<td align="right">322875<td align="right">322560
<td align="right">322560
<tr><th align="center" class="special">14</th>
<td align="right">1198080<td align="right">1198080
<td align="right">1198665<td align="right">1198665
<td align="right">1198080
<tr><th align="center" class="special">15</th>
<td align="right">4474738<td align="right">4473647 
<td align="right">4473647<td align="right">4474738
<td align="right">4473647
</table>

<h2>Examples</h2>

The one 4-ary Lyndon word of trace $b$, subtrace $a$ and length 2 is $\{1a\}$.
The two 4-ary Lyndon words of trace 0, subtrace 0 and length 3 are $\{123, 132\}$.
The two 4-ary Lyndon words of trace 0, subtrace 1 and length 4 are $\{0011, 11aa\}$.

<h2>Enumeration (OEIS)</h2>

<ul class="enum">
<li>
Column (0,0) is <a href="http://oeis.org/A074446">OEIS A074446</a>.
<li>
Column (0,1),(0,$a$),(0,$b$) is <a href="http://oeis.org/A074447">OEIS A074447</a>.
<li>
Column (1,0),($a$,0),($b$,0) is <a href="http://oeis.org/A074448">OEIS A074448</a>.
<li>
Column (1,1),($a$,$b$),($b$,$a$) is <a href="http://oeis.org/A074449">OEIS A074449</a>.
<li>
Column (1,$a$),(1,$b$),($a$,1),($a$,$a$),($b$,1),($b$,$b$) is <a href="http://oeis.org/A074450">OEIS A074450</a>.
</ul>