<h1>4-ary Lyndon words with given trace and subtrace</h1>

A $k$-ary <span class="def">Lyndon word</span> is a string made from the characters $\{0,1,\ldots,k-1\}$.
It must be aperiodic (not equal to any of its non-trivial rotations) and be lexicographically least among its rotations.

Here we consider the number $L(n;t,s)$ of length $n$ Lyndon words $a_1 a_2 \ldots a_n$ over the alphabet $\{0,1,\ldots,k-1\}$ with $k=4$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a Lyndon word is the sum of its digits mod $k$, i.e., $t = a_1 + a_2 + \cdots + a_n \pmod{k}$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken mod $k$, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.

<p>
<table class="data"><tr> 
<td>
<td align="center" colspan="12">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)
<td class="special" align="center">(0,2)
<td class="special" align="center">(0,3)
<td class="special" align="center">(1,0)<br>(3,0)
<td class="special" align="center">(1,1)<br>(3,1)
<td class="special" align="center">(1,2)<br>(3,2)
<td class="special" align="center">(1,3)<br>(3,3)
<td class="special" align="center">(2,0)
<td class="special" align="center">(2,1)
<td class="special" align="center">(2,2)
<td class="special" align="center">(2,3)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0<td align="right">0
<tr><th align="center" class="special">2</th>
<td align="right">0<td align="right">0<td align="right">0<td align="right">1
<td align="right">1<td align="right">0<td align="right">1<td align="right">0
<td align="right">1<td align="right">0<td align="right">0<td align="right">0
<tr><th align="center" class="special">3</th>
<td align="right">1<td align="right">2<td align="right">0<td align="right">2
<td align="right">2<td align="right">0<td align="right">2<td align="right">1
<td align="right">1<td align="right">2<td align="right">0<td align="right">2
<tr><th align="center" class="special">4</th>
<td align="right">1<td align="right">6<td align="right">1<td align="right">6
<td align="right">4<td align="right">4<td align="right">4<td align="right">4
<td align="right">4<td align="right">4<td align="right">0<td align="right">6
<tr><th align="center" class="special">5</th>
<td align="right">11<td align="right">16<td align="right">8<td align="right">16
<td align="right">8<td align="right">16<td align="right">11<td align="right">16
<td align="right">11<td align="right">16<td align="right">8<td align="right">16
<tr><th align="center" class="special">6</th>
<td align="right">44<td align="right">45<td align="right">36<td align="right">40
<td align="right">32<td align="right">53<td align="right">32<td align="right">53
<td align="right">45<td align="right">36<td align="right">40<td align="right">44
<tr><th align="center" class="special">7</th>
<td align="right">169<td align="right">128<td align="right">160<td align="right">128
<td align="right">128<td align="right">169<td align="right">128<td align="right">160
<td align="right">169<td align="right">128<td align="right">160<td align="right">128
<tr><th align="center" class="special">8</th>
<td align="right">588<td align="right">448<td align="right">548<td align="right">448
<td align="right">512<td align="right">512<td align="right">512<td align="right">512
<td align="right">576<td align="right">440<td align="right">576<td align="right">440
<tr><th align="center" class="special">9</th>
<td align="right">1948<td align="right">1706<td align="right">1920<td align="right">1706
<td align="right">1948<td align="right">1706<td align="right">1920<td align="right">1706
<td align="right">1948<td align="right">1706<td align="right">1920<td align="right">1706
<tr><th align="center" class="special">10</th>
<td align="right">6560<td align="right">6528<td align="right">6496<td align="right">6579
<td align="right">6963<td align="right">6144<td align="right">6963<td align="right">6144
<td align="right">6579<td align="right">6560<td align="right">6528<td align="right">6496
<tr><th align="center" class="special">11</th>
<td align="right">23133<td align="right">24576<td align="right">23040<td align="right">24576
<td align="right">24576<td align="right">23040<td align="right">24576<td align="right">23133
<td align="right">23133<td align="right">24576<td align="right">23040<td align="right">24576
<tr><th align="center" class="special">12</th>
<td align="right">84565<td align="right">90110<td align="right">84565<td align="right">90110
<td align="right">87380<td align="right">87380<td align="right">87380<td align="right">87380
<td align="right">84820<td align="right">90046<td align="right">84480<td align="right">90004
<tr><th align="center" class="special">13</th>
<td align="right">317755<td align="right">327680<td align="right">317440<td align="right">327680
<td align="right">317440<td align="right">327680<td align="right">317755<td align="right">327680
<td align="right">317755<td align="right">327680<td align="right">317440<td align="right">327680
<tr><th align="center" class="special">14</th>
<td align="right">1198336<td align="right">1198665<td align="right">1197824<td align="right">1198080
<td align="right">1179648<td align="right">1217097<td align="right">1179648<td align="right">1217097
<td align="right">1198665<td align="right">1197824<td align="right">1198080<td align="right">1198336
</table>

<h2>Examples</h2>

The two 4-ary Lyndon words of trace 1, subtrace 2 and length 3 are $\{023, 032\}$.
The four 4-ary Lyndon words of trace 3, subtrace 3 and length 4 are $\{0111, 0133, 0313, 0331\}$.
The six 4-ary Lyndon words of trace 2, subtrace 3 and length 4 are $\{0123, 0132, 0213, 0231, 0312, 0321\}$.

<h2>Enumeration (OEIS)</h2>

<ul class="enum">
<li>
If $n$ is odd OR $t$ is odd OR $t = 0 \pmod{4}$ and $s$ is odd OR $t = 2 \pmod{4}$ and $s$ is even, then the numbers above are
\[
L(n;t,s) = \frac{1}{n} \sum_{j=0,1,2,3} \sum_{\substack{d\vert n \\ d=2j+1 \pmod{8}}} \mu(d) S(n/d,(-1)^j t,(-1)^j s-jt^2),
\]
where $S(n;t,s)$ is the number of <a href="TSstringZ4">4-ary words with trace $t$ and subtrace $s$</a>.
In the case where $t$ is odd, this formula may be simplified to
\[
L(n;t,s) = \frac{1}{n} \sum_{\substack{d \vert n \\ d=1,3 \pmod{4}}} \mu(d) S(n/d, dt, ds-(d-1)/2).
\]

<li>
Column (0,0) is <a href="http://oeis.org/A068596">OEIS A068596</a>.
<li>
Column (0,1) is <a href="http://oeis.org/A074403">OEIS A074403</a>.
<li>
Column (0,2) is <a href="http://oeis.org/A074404">OEIS A074404</a>.
<li>
Column (0,3) is <a href="http://oeis.org/A074405">OEIS A074405</a>.
<li>
Column (1,0),(3,0) is <a href="http://oeis.org/A074406">OEIS A074406</a>.
<li>
Column (1,1),(3,1) is <a href="http://oeis.org/A074407">OEIS A074407</a>.
<li>
Column (1,2),(3,2) is <a href="http://oeis.org/A074408">OEIS A074408</a>.
<li>
Column (1,3),(3,3) is <a href="http://oeis.org/A074409">OEIS A074409</a>.
<li>
Column (2,0) is <a href="http://oeis.org/A074410">OEIS A074410</a>.
<li>
Column (2,1) is <a href="http://oeis.org/A074411">OEIS A074411</a>.
<li>
Column (2,2) is <a href="http://oeis.org/A074412">OEIS A074412</a>.
<li>
Column (2,3) is <a href="http://oeis.org/A074413">OEIS A074413</a>.
</ul>