<table id="input">
<tr>
<td>Frequency sequence</td>
<td><input type="text" id="f" value="1 1 3 2" size="40" maxlength="40"/> (max. 20)</td>
</tr>
<tr>
<td>Algorithm</td>
<td>
<select id="a" autocomplete="off">
  <option value="0" selected>lexicographic order</option>
  <option value="1">minimal-change order (Lunnon)</option>
  <option value="2">prefix rotation (Williams' cool-lex)</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var sela = document.getElementById("a");
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
 	    + "&f=" + document.getElementById("f").value
            + "&a=" + sela.options[sela.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
