OEIS sequences related to $n$-vertex planar graphs:
<ul class="enum">
<li>Triangulations &ndash; 3-connected: <a href="https://oeis.org/A000109">OEIS A000109</a></li>
<li>Triangulations &ndash; 3-connected (forbid reversal): <a href="https://oeis.org/A253882">OEIS A253882</a></li>
<li>Triangulations &ndash; 3-connected + min-degree 4: <a href="https://oeis.org/A000103">OEIS A000103</a></li>
<li>Triangulations &ndash; 4-connected: <a href="https://oeis.org/A007021">OEIS A007021</a></li>
<li>Triangulations &ndash; min-degree 5: <a href="https://oeis.org/A081621">OEIS A081621</a></li>
<li>Eulerian triangulations &ndash; 3-connected: <a href="https://oeis.org/A007083">OEIS A007083</a></li>
<li>Eulerian triangulations &ndash; 4-connected: <a href="https://oeis.org/A171090">OEIS A171090</a></li>
<li>Planar simple graphs &ndash; 3-connected: <a href="https://oeis.org/A000944">OEIS A000944</a></li>
<li>Planar simple graphs &ndash; 3-connected (forbid reversal): <a href="https://oeis.org/A119501">OEIS A119501</a></li>
<li>Planar simple graphs &ndash; 3-connected + min-degree 4: <a href="https://oeis.org/A007025">OEIS A007025</a></li>
<li>Planar simple graphs &ndash; 3-connected + min-degree 5: <a href="https://oeis.org/A049373">OEIS A049373</a></li>
<li>Planar simple bipartite graphs &ndash; 3-connected: <a href="https://oeis.org/A007028">OEIS A007028</a></li>
<li>Triangulations of a disk &ndash; outer face size 3 + no chords + no degree-2 vertices: <a href="https://oeis.org/A002713">OEIS A002713</a></li>
<li>Triangulations of a disk &ndash; outer face size 4 + no chords + no degree-2 vertices: <a href="https://oeis.org/A058786">OEIS A058786</a></li>
<li>Quadrangulations &ndash; arbitrary: <a href="https://oeis.org/A113201">OEIS A113201</a></li>
<li>Quadrangulations &ndash; arbitrary (forbid reversal): <a href="https://oeis.org/A113202">OEIS A113202</a></li>
<li>Quadrangulations &ndash; 3-connected: <a href="https://oeis.org/A007022">OEIS A007022</a></li>
<li>Quadrangulations &ndash; 3-connected (forbid reversal): <a href="https://oeis.org/A113204">OEIS A113204</a></li>
<li>Quadrangulations &ndash; 3-connected + no non-facial 4-cycles: <a href="https://oeis.org/A002880">OEIS A002880</a></li>
<li>Quadrangulations &ndash; 3-connected + no non-facial 4-cycles (forbid reversal): <a href="https://oeis.org/A113205">OEIS A113205</a></li>
<li>Quadrangulations &ndash; min-degree 3: <a href="https://oeis.org/A078666">OEIS A078666</a></li>
<li>Quadrangulations &ndash; min-degree 3 (forbid reversal): <a href="https://oeis.org/A113203">OEIS A113203</a></li>
<li>Apollonian networks: <a href="https://oeis.org/A027610">OEIS A027610</a></li>
<li>Apollonian networks (forbid reversal): <a href="https://oeis.org/A007173">OEIS A007173</a></li>
</ul>